[2019-08-09 15:34] obnoxxx opened #16 "Come up with a better OWNERS file"
We had a merging impasse, where we couldn't advance due to the absence of maintainers. So as an interim solution, #15 was created, adding me as a (temporary?) fall-back. This issue is a reminder to discuss and merge a better/more complete OWNERS file.

[2019-08-09 17:26] davidvossel opened #17 "registry bundle container build fails"
The bundle docker image building fails for me giving an error about invalid YAML to JSON conversion. ```msg="could not decode contents of file /registry/bundles.db into package: error converting YAML to JSON: yaml: control characters are not allowed" ```

We need a CI job to verify building both the operator and the bundle container images passes.

Below is the full output of the hack/build-regist

[2019-08-09 17:28] davidvossel commented on #17
/cc @kshlm

[2019-08-12 08:26] kshlm commented on #17
This used to be a warning previously. The base image has changed to make it a fatal error. I'll fix this.

[2019-08-12 15:33] #17 closed

[2019-08-21 10:48] karmab opened #35 "Using storagecluster along with local storage"
Currently, a single storage class is specified in a storagecluster definition and used for both mon and osd pvcs.
Mon pvcs have a filesystem volume mode, while osds ones have volume mode set to block.

That doesn't fit the use of local volumes since in this case, the corresponding storage classes can only provision pvcs from a single volume mode.

The storage cluster should have an extra field to

[2019-08-21 13:09] petr-balogh opened #38 "We should add CSV check to the documentation before continue to create the StorageCluster CR"
Description of problem is mentioned here: https://bugzilla.redhat.com/show_bug.cgi?id=1743864

[2019-08-21 14:25] kshlm commented on #35
Thanks for opening this. We had a discussion before I added to code to create mon PVs based on the OSD pvs. We decided on this approach with the assumption that it was okay for now on AWS, and we'd add proper support for setting the PV later on.

But I didn't expect the later on to come so soon.

[2019-08-21 14:28] kshlm commented on #35
@jarrpa @travisn I'll take up implementing this, and this is what I propose to do.

- Add a new member `MonPVCTemplate` to the StorageCluster spec, and keep it optional.
- If defined, I'll use the `MonPVCTemplate` in the CephCluster object created.
- If not, I'll follow the current strategy of using the first StorageDeviceSet.

Is this okay with you guys?

[2019-08-21 15:13] jarrpa commented on #35
That should work, yeah.

[2019-08-22 11:17] #38 closed

[2019-08-22 21:22] screeley44 opened #46 "Something off - think we need to add OperatorSource yaml and make sure naming conventions are followed"
Missing OperatorSource, not sure of the correct yaml to use, but should probably be something like this. It needs to point to the quay.io appregistry repo that is being used.

[code]

currently, what we are seeing is we have a CatalogSource, OperatorGroup and Subscription Created, but what I think we are missing is the OperatorSource which ties the CatalogSourceConfig  to the CatalogSource.  I suc

[2019-08-23 10:00] petr-balogh opened #50 "CSV ocs-operator.v0.0.1 should be named just ocs-operator"
I think that the operator name shouldn't contain the version inside its name if the version can be taken from version attribute here:
https://github.com/openshift/ocs-operator/blob/525734a3146d55d6125490d9e5acf03bed080f83/deploy/olm-catalog/ocs-operator/0.0.1/ocs-operator.v0.0.1.clusterserviceversion.yaml#L917

I also see that the openshift OLM does not have version in the name:

[code]

It means

[2019-08-23 13:42] kshlm commented on #50
The name is an OLM convention. It's not something we set ourselves.

[2019-08-23 13:54] kshlm commented on #46
This is an alternate way to add a CatalogSource to an OCP cluster. When adding an OperatorSource, it still ends up creating a CatalogSource for the marketplace. Instead we just directly create the CatalogSource our selves.

It shouldn't be matter how the CatalogSource was created for subscriptions to work and CSVs to be created.

One issue I think could be causing your problems with CSV no getting

[2019-08-23 14:04] e-minguez opened #53 "csi-rbdplugin ds binds to 8080/tcp and collides with other pods"
For KNI environments, the 8080/tcp port is being used by coredns hence the csi-rbdplugin ds cannot start.

[code]

[code]

[code]

I believe it would be nice to bind in some other $random port instead a typical one like 8080

[2019-08-23 17:05] petr-balogh commented on #50
Can you tell me reason or link to documentation or other place where this was described/decided? Maybe then I will more understand why version is in the name. How it will be with upgrades and so? The version will change in name? We will have another one olm for new version? Thanks

[2019-08-23 17:14] screeley44 commented on #46
I created the subscription manually - same result - no CSV and it just hangs...I am not able to test installing directly from the console because the operator never shows up in the console. I did successfully take your files and create my own test operator based on them, I used operator-courier to validate and push to quay.io - I had to fix and add several things to the CSV which I can discuss wit

[2019-08-26 08:34] umangachapagain commented on #50
CSV name is directly mapped to Package Name, so it must be the same in all cases. Without this, the OLM integration would break and OCS Operator wouldn't be available in the OperatorHub.

In case of Upgrade,  a new CSV would be created with name ocs-operator.v0.0.2. This new CSV would then be referenced in the Package spec. This is what tells OLM that upgrade is available.

[2019-08-26 08:40] umangachapagain commented on #46
@screeley44  I understand your point. I follow the same process as you do.

The process that OCS Operator README suggests is valid for OCP 4.2 and not 4.1 which is what I believe you are using.

Using OperatorSource makes it available on both 4.1 and 4.2.

[2019-08-26 11:30] kshlm commented on #50
@petr-balogh The [build-your-csv][1] document for OLM, mentions that this is the naming scheme. The operator-sdk generator follows this scheme, and we're using this. The CSV itself, also has a version attribute in its spec. I'm not sure right now of its use.

[1]: https://github.com/operator-framework/operator-lifecycle-manager/blob/master/Documentation/design/building-your-csv.md#csv-metadata

[2019-08-26 12:26] kshlm commented on #46
@screeley44 As @umangachapagain said, the CatalogSource method has only worked on 4.2. It doesn't work on 4.1. OCS is targeted for OCP-4.2 and beyond, so we expect all development and testing to also happen on OCP-4.2.

If you've been testing on 4.1, can you please test it on 4.2 and let us know if this is still a problem.

[2019-08-26 12:34] petr-balogh commented on #50
OK, thanks for the clarification. Is there a way how we can get latest version of CSV/operator.  What will be the scenario/steps if we would like to install some specific build of OCS?   For example for testing upgrade of OCS from 4.2 to 4.3, how we can manage this via operator?  Thanks

[2019-08-27 10:27] kshlm commented on #50
@petr-balogh The CSV will be published as a catalog, which bundles all previous versions of the csv. The catalog bundles stuff this way to ensure they have a clear upgrade path between versions. The operatorhub section of the console will make use of this information to show available updates for an operator.

The bundle that is published is also available in the repo at https://github.com/openshi

[2019-08-27 10:33] petr-balogh commented on #50
@kshlm thanks a lot! This https://github.com/openshift/ocs-operator/blob/master/deploy/olm-catalog/ocs-operator/ocs-operator.package.yaml sounds very useful and we can take the version of current CSV from there. I will update our automation to consume this file to get that version.  I think that this issue can be closed now.

[2019-08-27 10:33] #50 closed

[2019-08-27 13:09] kshlm commented on #35
#48 fixes this.

[2019-08-27 13:10] kshlm commented on #35
/close

[2019-08-27 13:10] #35 closed

[2019-08-28 11:25] obnoxxx opened #61 "Need end-to-end functional/integration test (happy path) for OCS"
This repository needs most urgently an end-to-end test that tests the whole OCS system with (openshift,) ocs-operator, rook-ceph, noobaa, etc that should test the basic happy path at least:

- set it all up
- make sure basic functionality like provisioning some apps with PVCs from the generated storage classes, and using them,
- deleting the PVCs
- destroying the setup again

This is highest prior

[2019-08-28 11:26] obnoxxx commented on #61
@jarrpa @kshlm @davidvossel others... FYI

[2019-08-29 19:10] anmolsachan opened #69 "OCS creates storageclasses with wrong provisioners"
According to https://github.com/rook/rook/commit/9f6c0ba2c59b46ea0b71de557f41a9310ca3dc89#diff-dbe583328ce8f4478e6407fc2c616c54
the provisioner name is dynamic now and should start with the namespace in which it is deployed.
For OCS also it should be this way.
Currently, OCS creates provisioner with rook-ceph prefix, even though its deployed in openshift-storage namespace.
![Screenshot from 2019-0

[2019-08-30 16:02] obnoxxx opened #75 "Need to set up creation of automated image builds after each PR is merged."
images should be built and added to quay automatically after each build. ideally using something like `git describe` for tagging.

[2019-08-30 16:02] obnoxxx commented on #75
@kshlm @jarrpa

[2019-08-30 19:24] #69 closed

[2019-09-01 13:08] mykaul commented on #61
@obnoxxx  - @RazTamir has this functionality already - why can't we use their code and infra?

[2019-09-02 12:54] obnoxxx commented on #61
@mykaul yes this is being taken into account. The infra: we use prow/openshift-ci. But the test cases can and should be shared.

[2019-09-03 09:57] kshlm opened #81 "Cluster deletion fails"
Deleting a fully deployed StorageCluster fails. Deleting a StorageCluster marks the owned CephCluster for deletion. But the CephCluster is never deleted, and the Rook ceph pods and resources continue to run.

The rook-ceph operator logs the following error,

[code]

This is making it hard during development to reuse an OCP cluster.

[2019-09-04 05:05] Madhu-1 commented on #53
this  is fixed in above-mentioned rook PR, this can be closed

@kshlm @jarrpa

[2019-09-04 05:08] kshlm commented on #53
Thanks @Madhu-1
/close

[2019-09-04 05:08] #53 closed

[2019-09-04 07:56] kshlm opened #85 "StorageClusterInitialization needs more rbac rules"
StorageClusterInitialzation controller keeps logging

[code]

We should also check if we need more RBAC for NooBaa resources.

[2019-09-04 07:59] kshlm opened #86 "ocs-operator updates its status incorrectly"
The ocs-operator updates its status to not ready when a StorageCluster object is created.

[code]

The operator is still fully functional and can respond to updates to the CRDs it watches.
Only the status of the StorageCluster should be updated, which should depend on the status of the rook resources it creates.

[2019-09-04 08:08] kshlm commented on #86
I see that this update happens in the StorageCluster controller [here](https://github.com/openshift/ocs-operator/blob/master/pkg/controller/storagecluster/reconcile.go#L123-L131). I don't understand the reason given about being updateable.
If this status is required for the operator itself, maybe we should be doing it someplace else other than the storagecluster controller.
If this status is meant

[2019-09-04 12:59] #85 closed

[2019-09-04 13:36] rohantmp opened #88 "Ensure that the CephPools have their failure domain as "zone"."
Some lines that show host is currently being used:
- https://github.com/openshift/ocs-operator/blob/6db54df094f6a9bfab35f172628725a9ce0f542a/pkg/controller/storageclusterinitialization/storageclusterinitialization_controller.go#L419
- https://github.com/openshift/ocs-operator/blob/6db54df094f6a9bfab35f172628725a9ce0f542a/pkg/controller/storageclusterinitialization/storageclusterinitialization_cont

[2019-09-04 15:11] sacharya commented on #86
/cc @mhrivnak @djzager

The ocs-operator, while already running, is READY when all of the component operator resources are reporting healthy status. It's market READY on startup and is not READY in case of any negative or progressing conditions from component operator resources. This is to prevent OLM from upgrading the ocs-operator while the resources are still progressing or have failed.

Since

[2019-09-04 15:42] djzager commented on #86
That is the idea here. The thought process is this, if any of the component operators is doing work we want to prevent OLM from interrupting that work (specifically an upgrade because a new CSV has become available). There is no other method currently available to provide this protection to component operators and we want to shield those operators from having to understand OLM internals. I welcome

[2019-09-04 15:49] rohantmp opened #90 "Document the need to enable GOPROXY for vendoring to succeed. (probably transient)"
Currently, a dependency being pulled in thrift.apache.org) is getting pulled in and it's source seems to be down long-term.

I'm creating this issue to let everyone who's building know they can overcome this by setting:
`export GOPROXY=https://proxy.golang.org` before running `go mod tidy && go mod vendor`

[2019-09-04 16:32] rohantmp commented on #88
@jarrpa who's in charge of initialization?

[2019-09-04 16:33] rohantmp commented on #90
closing as I see it is set in the Makefile

[2019-09-04 16:33] #90 closed

[2019-09-04 16:37] jarrpa commented on #88
No one? Whoever has the bandwidth to take it up.

[2019-09-06 13:20] rohantmp commented on #88
Resolved by PR #95

[2019-09-06 13:22] rohantmp opened #99 "Need to update CSV, cluster generation, and CephCluster Spec when rook releases the next image."
- Enable fencing controller via env var and CephCluster Spec
   - https://github.com/rook/rook/pull/3715
 - Disable CephNFS controller via env var.
   - https://github.com/rook/rook/pull/3794

[2019-09-06 17:56] obnoxxx commented on #88
@rohantmp @kshlm @jarrpa @travisn @davidvossel - I am not sure that unconditionally setting the failure domain to zone is actually correct: What if we want replica-3 and we don't have 3 zones? ... Wouldn't this fail? I think in AWS we have zones, that map to AZs, but some regions have less than 3 zones. What to do there? And what if OCP has only been set up with nodes in less than 3 zones? Or if t

[2019-09-09 13:22] karmab opened #104 "local-storage operator not deployed"
When deploying ocs operator, local storage operator doesnt get properly deployed
the deployment for the local storage operator contains several mentions of *image-registry.openshift-image-registry.svc:5000/* which prevent the deployment to succeed
editing the deployment to remove those elements makes the deployment succeed

[code]

[2019-09-09 15:00] rohantmp opened #105 "Rook v1.1.0-beta.2 requirement tracker."
Rook beta 2 is not yet released. This issue is for tracking what has to change when we use it for a release. Most of bugfixes are features we're waiting for and need to test.

- PG autoscaler: https://github.com/rook/rook/pull/3769

[2019-09-09 15:19] petr-balogh commented on #105
@rohantmp  do I understand correctly that it depends on the new tag in in rook v1.1.0-beta.2 appear in rook? Once done, some change in operator needs to be done as well, or nothing needs to be done and it's enabled by default?  Any time estimation when we can see this pg autoscaler enabled by operator? Thanks

[2019-09-09 15:25] travisn commented on #105
With the `v1.1.0-beta.1` tag created, the pg autoscaler can now be created as mentioned [here](https://rook.io/docs/rook/master/ceph-configuration.html)
[code]
@rohantmp Or is there another requirement you're looking for in beta.2?

[2019-09-09 15:31] rohantmp commented on #105
Yup, other than the bugfix: https://github.com/rook/rook/pull/3786 that's all so far.

[2019-09-09 15:34] rohantmp commented on #105
Oh, I misread that. I see that this can be done in beta.1 closing this issue.

[2019-09-09 15:34] #105 closed

[2019-09-09 16:43] obnoxxx commented on #88
FYI, I proposed PR #106 to revert the zone change for now, as it is breaking setups (that don't have zones, etc....)

[2019-09-10 03:00] rohantmp opened #107 "Automatically set failure domain of pools and portablility of osds based on available nodes."

[2019-09-10 03:00] rohantmp commented on #88
Closing this and opening Issue #107

[2019-09-10 04:44] obnoxxx commented on #88
@rohantmp

This is not closed. ;-)

[2019-09-10 15:27] #88 closed

[2019-09-10 16:50] mcornea commented on #104
I am seeing the same issue on my environment(set up with install-scripts):

[code]

[2019-09-11 07:27] umangachapagain commented on #104
This is because local-storage-operator is not maintained by ocs-operator team. And, we are using their dev branch to unblock us. Looks like there has been changes recently.

[2019-09-13 07:59] kshlm commented on #107
Setting of failure domains also applies to the StorageClassDeviceSets. Failure domain in this case is set by podAntiAffinity and a topologyKey.

[2019-09-16 14:19] mhrivnak commented on #86
@kshlm WDYT?

It comes down to: it's working as designed, the design is mostly a product of OLM's expectations, we don't love the design, but it's the best we can do until OLM provides a better mechanism. We can discuss further if that would be helpful.

[2019-09-16 14:46] kshlm commented on #86
Thanks for the explanations @sacharya @djzager @mhrivnak. I get the reasoning for the design now, and understand that this is the best we have at the moment. Hopefully, we have a better solution to this soon.

The changing status of the ocs-operator has been a little problematic for testing scripts, which get confused by the status moving back to installing after a successful installation. We'll n

[2019-09-16 16:39] kshlm commented on #86
Just found this https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate which could be useful. Instead of changing the container readiness, we could add unique readiness gate for ocs-operator being in operation.

[2019-09-17 08:35] nehaberry opened #128 "Incorrect pool name for cephfs SC in storageclusterinitialization_controller.go (L#364)"
File name: https://github.com/openshift/ocs-operator/blob/master/pkg/controller/storageclusterinitialization/storageclusterinitialization_controller.go

**description:**

In L#364 of above go code, we are incorrectly using the CephBlockPool name for cephfilesystem pool name. We need to change it to use CephFileystem "data0" pool name.

For both rbd(**L#379**) and cephfs(**L#364**) default storagec

[2019-09-17 11:29] ShyamsundarR commented on #128
In CephFS-CSI the `pool` parameter is optional, and to be used when data needs to be stored in a pool that is different than the default data pool for the CephFS instance in use (for example a storage class that redirects data to an EC pool attached to the CephFS instance).

Hence, if possible as part of fixing this, I would like to see if avoiding the pool specification in the StorageClass is doa

[2019-09-17 18:25] davidvossel opened #131 "OSDs fail to come online with multiple worker nodes in the same AZ."
On AWS, some osds fail to come online when multiple worker nodes exist in the same availability zone (AZ).

The only consistent factor I've been able to identify is that the osds fail when two worker nodes exist in the same AZ. I don't understand the root cause yet. Below are the data points I have

# Environments that work

**Success: 3/3 osds come online**
- Replica 3
- 3 Worker nodes
- even dis

[2019-09-17 19:05] davidvossel commented on #131
We have a root cause for why this is occurring.

The issue has to do with the inability to detach the PVC from osd's prepare job node. If the resulting osd runs on a different node from the prepare job, then the PVC will never be able to be attached.

This is why we only hit the issue when there are more than one node in an AZ. When there's only one node per an AZ, due to limited options the sched

[2019-09-18 06:35] Feelas opened #132 "OCS CatalogSource Pod uses invalid image name"
--- Bug description ---
Sometimes while deploying, the CatalogSource pod responsible for serving the OCS Operator to the cluster, ends up with an improper image name and refuses to start because of that.

The incorrect image name is `Image: quay.io//ocs-registry:latest`. The behaviour happens because the ocs-dev part in `Image: quay.io/ocs-dev/ocs-registry:latest` gets cut, somehow. When ocs-dev i

[2019-09-18 08:48] kshlm commented on #132
The CatalogSource is defined in [deploy-with-olm.yaml](https://github.com/openshift/ocs-operator/blob/e59ca0fd6ba80cbb8d8dfa6db0b1373dd610c7a1/deploy/deploy-with-olm.yaml#L31-L41). As you see, it has the correct image name. This file is not generated, like the CSV, so there is no reason to have the image be missing a part.

Can you explain how you went about creating the CatalogSource?

[2019-09-18 12:57] davidvossel commented on #81
to be clear, the cephcluster finalizer exists for a reason. force deleting it will likely cause issues.

it's most likely there to prevent force deletion until the rook operator has the chance to gracefully shutdown daemons. Once the rook operator is done, the finalizer should be removed allowing the cephcluster to be deleted.

[2019-09-18 13:09] djzager commented on #86
@kshlm that is an interesting find. My immediate reaction is that we would have to be patching ocs-operator pods directly instead of simply updating the status on the resource we own. I would happily consider the argument that this is a better approach than status/conditions + readiness probe on the deployment. Perhaps you could construct one?

[2019-09-18 15:20] travisn commented on #81
The operator does perform cleanup operations. Is the operator being stopped at the same time? If so it won't be able to perform the cleanup. If the operator is not being stopped, do its logs indicate the cleanup failed?

[2019-09-18 15:21] kshlm commented on #81
@travisn the failure logs are in the description of this issue.

[2019-09-18 16:26] travisn commented on #81
@kshlm ah thanks, i missed that. I've opened https://github.com/rook/rook/issues/3912 to get this fixed.

[2019-09-19 06:06] Feelas commented on #132
It's also puzzling to me, seeing everything declared inside deployment .yaml and then seeing something strange happening to the image. Possibly this is not connected to an OCS Operator bug itself and a bug somewhere else.

It just happens sometimes when doing `oc create -f deploy/deploy-with-olm.yaml`, just as the installation tutorial specifies.

[2019-09-23 15:38] openshift-merge-robot opened #149 "Future Release Branches Frozen For Merging | branch:release-4.4 branch:release-4.3"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.4`
 - `release-4.3`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2019-09-25 06:25] rohantmp commented on #132
@Feelas Is this still happening?

[2019-09-25 18:29] davivcgarcia opened #156 "Nodes tainted with 'node.ocs.openshift.io/storage=true:NoSchedule' by default"
I'm running UAT for OCS-Operator 4.2 (master) on a OCP 4.2.0-0.ci-2019-09-25-072821, deploying through OLM (`oc create -f ocs-operator/deploy/deploy-with-olm.yaml`) and creating the `Storage Cluster` using UI but multiple pods are not being scheduled.

Checking the logs, it points to taint applied to the worker nodes (the ones I choose using UI) of `node.ocs.openshift.io/storage=true:NoSchedule` l

[2019-09-25 18:51] davivcgarcia opened #157 "rook-ceph-tools with status 'CreateContainerError'"
After deploying OCS from `master` branch, the `rook-ceph-tools` pod is reporting `CreateContainerError` status. Checking the event log for the pod, looks like there is a problem in the image or deployment definition:

`Error: container create failed: container_linux.go:345: starting container process caused "exec: \"/tini\": stat /tini: no such file or directory"`

The pod spec is:

[code]

[2019-09-25 19:01] davivcgarcia commented on #157
If I update the image used for the pod definition, from `ceph/ceph:v14.2.4-20190917` to `rook/ceph:master` (which is used upstream) the problem is solved. Looks like this is a issue with our image.

[2019-09-25 19:03] jarrpa commented on #156
This is the currently expected behavior. We are in discussions to see what we will want to do about it.

[2019-09-25 19:46] travisn commented on #157
Right, the toolbox expects to run the Rook image. The Ceph image doesn't contain the Rook script for initializing the toolbox.

[2019-09-26 06:16] Feelas commented on #132
@rohantmp Seems not to happen with current releases, I believe it's a bug in something entirely different than the operator itself and this should be closed, maybe just something to check if it happens in the future.

[2019-09-26 06:16] #132 closed

[2019-09-26 14:56] davivcgarcia commented on #156
This is my case. The OCS pods are also affected.

[2019-09-27 21:32] andrewschoen opened #174 "make source-manifests is failing with 'make: *** [Makefile:79: source-manifests] Error 2'"
This has been failing for a couple days now in our downstream CI.

Relevant log files, using commit 2c0a70a038473e3e492bbcc3e73d5a883c51987a:

[code]

[2019-09-27 21:42] andrewschoen commented on #174
Actually, the first failure like this was seen yesterday at commit a4a888a7bed9c46b17d6249b556118723b401cd5

[2019-09-27 21:43] jarrpa commented on #174
@kshlm @davidvossel

[2019-09-30 12:36] davidvossel commented on #174
The noobaa/mcg operator image is failing to dump the csv. This is a noobaa regression.

[code]

[2019-09-30 19:13] andrewschoen commented on #174
Thanks @davidvossel. Have you opened an issue with the noobaa devs about this? If not, could you point me at the right place to do that? Thanks!

[2019-09-30 19:34] davidvossel commented on #174
hey, i haven't filed an issue. This is the repo the issue is occurring in. https://github.com/noobaa/noobaa-operator Filing an issue there would make sense.

[2019-10-01 07:43] guymguym commented on #174
Hi guys. This is indeed a new issue which will fix soon.
In the meanwhile see the suggested workaround here: https://github.com/noobaa/noobaa-operator/issues/67#issuecomment-536910325

[2019-10-01 18:49] andrewschoen commented on #174
@guymguym @davidvossel Thanks for help! I've got the workaround in place in our CI and it's working. Once we've got an official fix on https://github.com/noobaa/noobaa-operator/issues/67 I'll remove that.

[2019-10-01 20:35] b-ranto commented on #174
@guymguym @davidvossel I was wondering where we could expect the fix for this issue? i.e. will it land in ocs or noobaa operator? It could help us prepare for the fix, i.e. to make sure the fix won't break our CI again.

[2019-10-02 07:25] guymguym commented on #174
@b-ranto a proper fix will be made in noobaa-operator.
You can track it in the upcoming release v2.0.1
See https://github.com/noobaa/noobaa-operator/milestone/1

[2019-10-03 02:19] guymguym commented on #174
BTW I just noticed there's an even easier workaround which is just to set the `WATCH_NAMESPACE` env to anything:
[code]

[2019-10-03 20:33] b-ranto opened #185 "Validation warnings for ocs registry"
We have an automation downstream for registry containers that validates the registry. It is currently showing a number of warnings:

http://external-ci-coldstorage.datahub.redhat.com/cvp/cvp-redhat-operator-metadata-validation-test/ocs-registry-container-4.2-103.142e3ba.master/b97282c0-7ce5-402f-ace1-9712657f2b6f/operator-metadata-linting-output.txt

This is using operator-courier [1] to verify th

[2019-10-03 20:43] jarrpa commented on #185
Some of those are probably things we could touch up. All the CRD warnings can be ignored, since the user isn't expected to manually create any of those.

[2019-10-03 20:48] b-ranto commented on #185
I am attaching the output of operator-courier since the link is not publicly available and may disappear at some point:
[code]

[2019-10-04 06:17] b-ranto opened #186 "panic: error converting YAML to JSON: yaml: mapping values are not allowed in this context"
We are hitting a panic when generating the unified CSV with the latest noobaa images (v2.0.1) and the latest master:

[code]

It looks like this is related to noobaa since it fails at `noobaa-csv.yaml`, @guymguym can you also take a look at this?

[2019-10-04 06:18] b-ranto commented on #174
FYI: This can be closed, after rebase to noobaa 2.0.1, we are no longer hitting this issue.

[2019-10-04 07:15] guymguym commented on #186
I can check but much later today.
@dannyzaken or @davidvossel can you get more info on the failure?

[2019-10-04 08:36] b-ranto commented on #186
I have done some debugging, the generation fails at this function:

https://github.com/openshift/ocs-operator/blob/master/tools/csv-merger/csv-merger.go#L104

I have added some debugging output and the writer.String() in that function returns:
`writer.String: /usr/local/bin/entrypoint: line 12: /usr/local/bin/noobaa-operator: No such file or directory`

That is also all that `noobaa-csv.yaml` cont

[2019-10-04 08:46] guymguym commented on #186
Thanks @b-ranto !
@nimrod-becker Lets ask the team to verify the ds build.

[2019-10-04 13:47] jarrpa commented on #174
Resolved by #179.

[2019-10-04 13:47] #174 closed

[2019-10-05 20:17] liranmauda commented on #186
@b-ranto
We have found an issue in our downstream build and it is now fixed.

Thanks

[2019-10-06 15:01] b-ranto commented on #186
The builds are passing, now -> closing.

[2019-10-06 15:01] #186 closed

[2019-10-07 16:23] dannyzaken opened #191 "RGW is not started after a StorageCluster is created"
### problem description

1. I created a `StorageCluster` using the example cr in ocs-operator repo - https://github.com/openshift/ocs-operator/blob/master/deploy/crds/ocs_v1_storagecluster_cr.yaml

2. the operator created a `CephObjectStore` resource, which looks like it's invalid (all values are 0)

resource yaml:
[code]

3. RGW is never created

### Steps to Reproduce:
1. create a storage cluste

[2019-10-07 19:18] jarrpa commented on #191
@dannyzaken We need someone with more familiarity with RGW to determine what the right values would be. Do you or someone you know have the time to look into this?

[2019-10-08 02:39] guymguym commented on #191
@mattbenjamin

[2019-10-08 13:21] jarrpa opened #192 "Document default behaviors"
We should include documentation on the default behaviors of the ocs-operator.

[2019-10-10 06:13] Madhu-1 opened #196 "update operator to use rook v1.1.2 release"
currently, ocs-operator is using rook 1.1.1 release can we update it to use v1.1.2 release.

[2019-10-10 08:47] #196 closed

[2019-10-10 09:43] dannyzaken commented on #191
@jarrpa, unfortunately, I don't have enough familiarity with RGW, so I can't tell what the right values are.

[2019-10-10 14:24] #107 closed

[2019-10-10 14:57] davidvossel opened #199 "StorageCluster Graceful Deletion"
When a StorageCluster is marked for deletion, we need to gracefully tear down the StorageCluster owned objects before the StorageCluster is completely removed from the cluster.

This can be achieved by using a finalizer on the StorageCluster object. A finalizer allows us to delay the deletion of the StorageCluster object until we've completely cleaned up all the cluster objects related to the Stor

[2019-10-10 15:46] deevya2000 opened #200 "Installing OCS on Openshift 4.2 pre release cluster"
How do you create a storagecluster for bare metal openshift cluster using ocs operator ? I have installed the operators using:

oc create -f ./deploy/deploy-with-olm.yaml

 but the sample yaml to create storage cluster in the next step has a type : gp2 which is for AWS I guess, which I tried and it failed..I need to do it for a bare metal openshift 4.2 cluster..any thoughts ?

I have a 3 master an

[2019-10-10 16:02] sacharya commented on #199
Are you already working on this? I am in the middle of codifying the steps
in cluster-cleanup script, as I need it for uninstall/reinstall.

On Thu, Oct 10, 2019 at 9:57 AM David Vossel <notifications@github.com>
wrote:

[2019-10-10 16:11] guymguym commented on #191
@travisn can help?

[2019-10-10 16:50] davidvossel commented on #199
in cluster-cleanup script, as I need it for uninstall/reinstall.

nope this isn't something I'm currently working on. I just made this issue for tracking purposes.

[2019-10-10 16:51] davidvossel commented on #199
How are you approaching this? Are you using a finalizer on the StorageCluster, or codifying the cluster-clean script into the deploy-manager pkg just for functional test usage?

[2019-10-10 17:39] sacharya commented on #199
I am just codifying the cluster-clean into deploy-manager pkg and using that from func test.

[2019-10-10 18:11] jarrpa commented on #200
As we discussed on the Kubernetes Slack, as of OCS 4.2 there is no plan to support OCS outside of a paid OCS subscription. Keep an eye on the [Red Hat Storage blog channel](https://www.redhat.com/en/blog/channel/red-hat-storage) for more official announcements on our timelines and support statements.

[2019-10-10 18:11] #200 closed

[2019-10-10 18:52] travisn commented on #191
The replication size on the data pool should be the same as the metadata pool (assuming we're using replication and not erasure coding). The problem is that data replication is currently set to 0.
[code]

[2019-10-10 18:53] travisn commented on #191
The rook operator likely has an error in the logs that indicates it's an invalid object store for this reason, which is why it didn't start the rgw service.

[2019-10-10 19:22] guymguym commented on #191
Many thanks @travisn !

[2019-10-10 20:06] davidvossel commented on #199
alrighty, i think that's a good start. That will probably end up being the basis of the storagecluster's deletion logic that makes its way into the operator reconcile loop at some point.

[2019-10-11 18:54] #191 closed

[2019-10-18 11:16] Rikbruggink opened #217 "rfe: support for disconnected installations"
We are running a disconnected intallation and would like to use the ocs operator.

I tried changing the image versions in the OLM config but it still keeps referring to images hosted elsewhere and the images used in this operator are alse tag based instead of manifest based so using the new cluster imagecontent resource is not possible at this time.

[2019-10-24 14:20] mbukatov opened #235 "Resolve problems reported by shellcheck for gather_ceph_resources script"
When I run [shellcheck](https://www.shellcheck.net/) on `must-gather/collection-scripts/gather_ceph_resources` script, I see the following problems:

[code]

[2019-10-29 02:24] jarrpa opened #245 "StorageCluster: Check for CephBlockPool before deploying NooBaa"
#244 introduced [a short sleep timer](https://github.com/openshift/ocs-operator/blob/master/pkg/controller/storagecluster/noobaa_system_reconciler.go#L55-L58) to compensate for the coordination between NooBaa and the Ceph volume it needs created. This is obviously a hack. We should de detecting whether or not the appropriate CephBlockPool is ready before going forward with the NooBaa deployment.

[2019-10-29 02:26] jarrpa commented on #245
@travisn @davidvossel @guymguym @obnoxxx Pinging this on your radars.

[2019-10-29 10:11] guymguym commented on #245
@jarrpa Can you explain why we need to wait at all?
Why not deploy noobaa with the expected ceph storage class and once it is ready the pods will start?

[2019-10-29 13:08] davidvossel commented on #245
Right, I'd expect this to work. It would involve some rate limiting backoff to occur because of the retries, but eventually this scenario should succeed.

^ that's not the case though.  I think the real issue here is in rook/ceph. The reason we have that coordination between Noobaa and ceph is to work around an issue that occurs during PVC provisioning.  If the PVC is requested before the block po

[2019-10-29 13:10] davidvossel commented on #245
Maybe to clarify a bit.

I'd keep the NooBaa ceph ordering as an optimization, but not as a fix to the rook PVC provisioning issue we're seeing. the issue here is with rook.

[2019-10-29 13:13] guymguym commented on #245
Thanks @davidvossel !

[2019-10-29 20:35] obnoxxx commented on #245
@davidvossel writes:

We might want to create a narrow test case for that (in rook?) and make that a blocker for our release...

[2019-11-14 05:26] crombus commented on #235
https://github.com/openshift/ocs-operator/pull/296

[2019-11-18 11:38] bengland2 commented on #199
When I run make cluster-clean, if I forget to clean up my application PVs beforehand then it hangs trying to delete them.   Seems like you could distinguish between PVs managed by OCS and PVs used by OCS.     At that point, only PVs used by OCS should be deleted.

IMO You shouldn't even allow deletion of a cluster that has OCS-managed PVs on it because they might have live data on them.    Make th

[2019-11-18 14:33] mykaul commented on #199
I think the underlying PVs should have the retain policy set to save the PVs!

[2019-11-20 11:37] rvanbutselaar opened #310 "PersistentVolumeClaim's created with empty storageClassName"
With OpenShift 4.2 on OpenStack, PersistentVolumeClaim's are created by the ocs-operator with an empty storageClassName. This results in a PersistentVolumeClaim with the status Pending, it won't create a PersistentVolume.

[code]

[2019-11-20 13:48] mulbc opened #311 "Allow creation of clusters with less than 3 nodes"
https://github.com/openshift/ocs-operator/blob/9a55e5215b6eca397960c180d0cb32c1983c6285/pkg/controller/storagecluster/reconcile.go#L337-L342

Due to the < comparison with `defaults.DeviceSetReplica` (which is 3), it is not possible to deploy OCS on an environment with less than three nodes.
Please remove this hard limitation in order to allow demos in smaller deployments. I need this for Katacoda

[2019-11-20 14:33] mykaul commented on #311
I honestly don't know how OCS will behave with less than 3 nodes.

[2019-11-20 14:39] mykaul commented on #310
Interesting. Kube documentation says:
"A PVC with no storageClassName is not quite the same and is treated differently by the cluster, depending on whether the DefaultStorageClass admission plugin is turned on."

Do you have a default storage class, btw?

[2019-11-20 23:38] jarrpa commented on #311
It definitely could be done, but this is not something we'll be getting around to any time soon. Certainly not before OCS 4.2 GA and probably not for 4.3.

[2019-11-21 07:26] rvanbutselaar commented on #310
Yes we have:

[code]

[2019-11-21 08:45] mulbc commented on #311
@travisn Could you please point me to the code that I would need to change to create just a single MON and set pools to replica 1?
I already started a fork where I set the default DeviceSetReplica to 1, so I could host the changes over there until you're ready to merge. That way I can use my fork in Labs like Katacoda

[2019-11-25 05:39] umangachapagain commented on #310
How are you creating the StorageCluster? Are you using the OLM UI or the example manifests hosted in this repo?

[2019-11-25 06:10] umangachapagain commented on #156
Tainting by default has been removed. Changes went into OpenShift/Console. This issue can be closed.

[2019-11-25 06:22] obnoxxx commented on #156
Additionally, the tolerations should now be set such that also with the edge case of only tainted nodes, deployment should succeed.

[2019-11-25 06:22] #156 closed

[2019-11-25 06:38] rvanbutselaar commented on #310
I'm using the OLM UI to create the StorageCLuster.

[2019-11-25 21:15] jarrpa opened #329 "must-gather: Investigate better Pod filtering for collecting logs"
As of #324, the must-gather scripts use an inverted grep statement to filter out which pods should have logs gathered. There's concern that this may have weird corner cases we're not seeing, or at the very least is not the most technically correct way to do it. We should look into a more exact alternative, possibly using `-o go-template`.

[2019-11-25 21:40] ashishranjan738 opened #330 "Investigate a debugging strategy for must-gather"
PR https://github.com/openshift/ocs-operator/pull/327 redirects the output `oc` invokes to /dev/NULL which hides some important information for debugging must-gather.  Redirecting it to a debugging file will help in capturing that info for debugging a failed must-gather.

[2019-11-26 08:08] mykaul opened #334 "Add more resources to RGW"
RGW needs more resources. What we are giving to it right now is simply not enough for reasonable performance:
https://github.com/openshift/ocs-operator/blob/2c257dfcf8f205d1011c08a8c6ef6b6a49433648/pkg/controller/defaults/resources.go#L42
[code]

I'd change it to 2 CPUs and 4G.

[2019-11-26 14:07] obnoxxx opened #341 "Create a shellcheck test script to run in ocs-operator-ci."
We need a test to ensure our shell scripts are syntactically correct and safe.
Some `bash -n` is a basic syntax check, but `shellcheck` is much more comprehensive.

The test should be a Makefile target, and should be executed in the CI (ocs-operator-ci).

Examples can be found here: https://github.com/heketi/heketi, specifically https://github.com/heketi/heketi/blob/master/tests/020-test-shellscri

[2019-11-26 15:12] jarrpa commented on #341
@crombus Is interested in taking this up.

[2019-11-26 16:37] #330 closed

[2019-11-27 13:40] d3vi1 opened #344 "Request for non AWS-centric YAML examples"
Hi guys,

We are attempting to evaluate OCS for a potential 2020/Q3 OpenShift deployment. Do you have any example YAML storageClusters for BareMetal deployments? We've created KVM VMs and BareMetal machines with available 1TiB LUNs. The defaults are:

[code]

The event stream is found below. The operator installation (ocs-init) works flawlessly, and in the recent builds the local-storage-operator

[2019-11-27 22:07] #344 closed

[2019-11-28 15:36] guymguym opened #347 "make deps-update fails on clean master"
[code]

[2019-11-29 11:45] #347 closed

[2019-12-03 02:19] guymguym opened #351 "OB/OBC CRDs are not owned by OCS downstream (although it bundles them)"
CC @nimrod-becker @jarrpa @davidvossel

Here is where it uses `required:` for these CRDs in the OCS CSV instead of using `owned:`
https://github.com/openshift/ocs-operator/blob/34106927774f51584ca6fa3b6ef4e9dc559db39e/deploy/olm-catalog/ocs-operator/0.0.2/ocs-operator.v0.0.2.clusterserviceversion.yaml#L263-L302

This is because OCS CSV is copying the same `required` that NooBaa CSV is using upstre

[2019-12-05 05:05] ashishranjan738 opened #356 "RFE: Adds support to collect logs from a particular time in must-gather"
Currently, must-gather collects all the logs of a pod which can be very huge for a large cluster. There should be some feature to collect logs from some particular timestamp.

[2019-12-05 05:08] ashishranjan738 opened #357 "RFE: There should be a feature to control the log verbosity"
Currently, we don't have any control over the verbosity of logs that are getting collected using the must-gather. There must a feature for controlling it.

[2019-12-05 07:54] tamireran commented on #351
I think we should have the OBC CRD separated, it would make sense from the community point of view.
Since OCS is already using "require", my understanding is that we will just need to remove the CRDs from the OLM package and publish the lib-bucket-provisioner CSV to the community operators (downstream).
@guymguym  can handle the changes.
@jarrpa @obnoxxx please review so we can progress.

[2019-12-05 21:05] jarrpa commented on #351
Agreed, I think that's why we ended up using `required` instead of `owned` in the first place.

[2019-12-10 13:43] #351 closed

[2019-12-10 14:20] jarrpa commented on #334
This was resolved in master, and is not needed for 4.2. Resolving this issue.

[2019-12-10 14:20] #334 closed

[2019-12-11 16:54] crombus commented on #235
this issue is fixed

[2019-12-11 16:54] #235 closed

[2019-12-13 16:17] kshlm opened #364 "Remove promotion of the source image"
The source image is currently being promoted to the global registry, ([for example][1]) after a PR is merged on ocs-operator. The source image is not useful outside of the PRs test namespace, and should not be promoted.

The promotion configuration should be removed from all config files.

[1]: https://github.com/openshift/release/blob/757f6a3185df0255a99d70e701f8fe1100aaddcb/ci-operator/config/op

[2019-12-13 16:20] kshlm opened #365 "Add a periodic job to run the full ocs-ci test-suite"
Currently we run a subset of the tests in the [ocs-ci][1] testsuite are being run as pre-submit jobs for each PR.

We need to setup a periodic job (a few times a week or nightly), to run the full testsuite.

In addition to setting up the periodic job, we also need to setup notifications for failed runs.

[1]: https://github.com/red-hat-storage/ocs-ci

[2019-12-13 16:23] kshlm commented on #365
An example of setting up notifications is available in openshift/release#6050.
We should reach out to @hongkailiu for assistance in setting this up if needed.

[2019-12-13 16:55] egafford opened #366 "Finalizer to ensure that Rook and Noobaa are removed before OCS-Operator"
When OCS-Operator is removed, uninstallation should complete with no orphaned resources that might block reinstallation. As such, OCS-Operator should ensure that its immediate dependent operators (Rook and Noobaa) are fully removed before allowing itself to be removed. In order to ensure this, we should add a Finalizer to the operator to validate that these deletions are complete before allowing i

[2019-12-13 17:35] egafford opened #367 "Finalizer to ensure that all managed StorageClusters are removed before OCS-Operator"
In order to ensure that uninstallation is complete after removal of OCS-Operator, we must ensure that no orphaned resources exist to block reinstallation. Dependent StorageClusters cannot be forcibly deleted due to risk of user data loss. As such, we should add a finalizer to OCS-Operator to ensure that all managed StorageClusters are deleted before allowing OCS-Operator itself to be deleted.

[2019-12-13 17:51] egafford opened #368 "Finalizer to ensure that all managed StorageClasses are removed before OCS-Operator"
In order to ensure that uninstallation is complete after removal of OCS-Operator, we must ensure that no orphaned resources exist to block reinstallation. Dependent StorageClasses cannot be forcibly deleted due to risk of user data loss. As such, we should add a finalizer to OCS-Operator to ensure that all managed StorageClasses are deleted before allowing OCS-Operator itself to be deleted.

Note

[2019-12-13 20:31] guymguym commented on #367
Hey @egafford

- To which CR you think this finalizer should be added to? The CSV? The operator deployment? An operator is not really one CR that represents it all. Perhaps only the OLM Subscription does it.

- Who will be responsible to remove the finalizer once all StorageClusters are deleted? The OCS operator itself? I think this might not be a good idea since it creates somewhat of a circular

[2019-12-15 08:47] guymguym commented on #366
A finalizer on the OCS operator deployment? on the OCS CSV? Subscription?
I am not sure if a finalizer makes sense here.

Can you start by explaining which orphaned resources you are seeing when uninstalling using OLM?

[2019-12-16 11:32] ashishranjan738 commented on #364
i would like to help in this.

[2019-12-16 13:39] mykaul opened #369 "OCP CI build uses a different base image than the operator uses?"
It seems that the build we use in OCP CI is using:
[code]
(https://github.com/openshift/ocs-operator/blob/e6b769f821180f7d40bc64532e1f5116b7876775/openshift-ci/Dockerfile.deploy)
And when we build the OCS operator regularly, we use:
[code]
(https://github.com/openshift/ocs-operator/blob/ab4540d76e824c8525f80340b6f63982ff44251f/build/Dockerfile )

[2019-12-16 13:46] kshlm commented on #369
IIRC, when the CI dockerfile was created, we were facing some issues with getting the ubi8 image available in the CI cluster. @davidvossel might remember better.

This was before we started building and pushing the upstream images using openshift-ci. And it seems those images, which are built from the non-ci dockerfile, are getting built correctly. So we can move back to ubi8.

[2019-12-16 18:48] egafford commented on #366
At present, after removing the ocs-operator via OLM, any StorageClass with a provisioner in the set {openshift-storage.rbd.csi.ceph.com , openshift-storage.cephfs.csi.ceph.com , openshift-storage.noobaa.io/obc} should be deleted to allow reinstallation or terminating the OCS subscription. Sadly, it is not possible to automatically delete these classes and their dependent PV/PVCs and OB/OBCs, as th

[2019-12-16 19:02] guymguym commented on #366
You are right that we cannot set the StorageClasses to have owner reference on StorageCluster because StorageClasses are global and OCS StorageCluster is namespaced, and setting owner reference this way causes the kubernetes garbage collector to go crazy and delete resources that it shouldn't.

However, OCS does deploy at least one cluster-wide resource - a ClusterRole. So how about we set the Sto

[2019-12-16 19:34] egafford commented on #367
@guymguym, I imagined that we would likely want to hang this finalizer on the ocs-operator deployment; it seems to be the most directly responsible point in the dependency graph.

I agree that a deeper change to OLM may be warranted here, though. I'd be quite interested in working with the OpenShift OLM folks on a scheme to enable an cleaner operator removal path for operators that manage state. A

[2019-12-17 14:50] guymguym commented on #367
@egafford If the goal is to delete the StorageClusters when the OCS-operator is removed, then why not set the operator deployment as the StorageCluster owner?

[2019-12-17 18:37] egafford commented on #366
Until we have a "soft vs. hard delete" option in OLM, I'm concerned that automated removal of StorageClasses (and the PVs/PVCs/OBs/OBCs based on them) could easily result in accidental user data loss. Avoiding accidental data loss was the reason we discussed using a finalizer pattern rather than an ownerRef-based automatic GC pattern.

Automatic removal of a single resource that cascades into remo

[2019-12-17 19:08] guymguym opened #372 "CSV should set env var of downstream image names on noobaa-operator deployment"
This is needed because otherwise the noobaa-operator cannot tell which downstream images to use when used from mig-operator.

[2019-12-17 19:36] guymguym commented on #366
First - I think there's a misconception here - deleting StorageClasses is not going to effect existing PVs/PVCs/OBs/OBCs as the reference to the SC is weak (only by name).

I think that leaving manual work to the user can't really be classified as a feature.
If we want to help the user - we should allow undo, and I don't see how finalizers allow that.
Instead of adding a finalizer, we can just lea

[2019-12-18 11:56] guymguym commented on #372
CC @nimrod-becker

[2019-12-19 10:26] crombus commented on #341
closing the issue as thr pr got merged

[2019-12-19 10:26] #341 closed

[2019-12-19 14:22] #364 closed

[2019-12-22 20:35] aruniiird opened #377 "'gen-latest-csv' make command fails"
On latest master branch (as of Dec 23 2019), `gen-latest-csv` command is failing as follows,

Output
---------
[code]

[2019-12-23 08:43] brainfunked commented on #368
I have seen this behaviour on my cluster. I'm writing functional tests for validating this behaviour, which I'll send a PR for. The tests will pass once the finalizer is actually implemented.

[2019-12-23 11:07] guymguym commented on #368
Hi @egafford

Note that deleting StorageClasses shouldn't create any form of data-loss.
The reference from PV/PVC/OB/OBC to StorageClass is a weak reference that should only be used on provisioning time.

So in this case, if the issue is merely the cleanup of StorageClasses once the operator is finally removed, why not set the owner reference of the StorageClasses to be a global resources such as

[2019-12-24 07:45] #377 closed

[2019-12-30 01:15] brainfunked commented on #368
@guymguym Your comment brings up a couple of interesting test scenarios. I'll run them manually first, to see what currently happens:

1. Ensure that there are bound PVs against a storage class created by the operator. Uninstall the operator.
2. Make PVCs against the storage classes left behind after the operator is uninstalled.

Do we already know what the 'correct' behaviour in such scenarios sh

[2020-01-05 21:59] ashishranjan738 opened #384 "Consider availability of PVs before distributing OSDs across among racks"
In the case of baremetal clusters where PVs are not portable, the OCS operators should be distributing the OSDs considering the presence of PVs in the nodes.

[2020-01-09 12:23] brainfunked opened #386 "Negative Path Testing: Functional tests for ocs-operator pod killed during StorageCluster creation"
I'm working on creating a suite of negative path or failure scenario tests for ocs-operator. The first implementation is for testing out whether the StorageCluster creation operation resumes properly when the ocs-operator pod is killed and is respawned during the operation. I'm starting off with tests that are 'deterministic'. To start with, I'll be monitoring the various stages of the StorageClus

[2020-01-09 12:47] brainfunked commented on #368
I've create a separate "negativetests" package to add tests that intend to break the cluster in various ways. This package should also be able to accommodate the tests I've mentioned above. Once #387 is reviewed, I could start implementing these tests.

[2020-01-10 05:17] vbnrh opened #388 "CRD backend validation checks for the OCS-Operator"
Related to https://bugzilla.redhat.com/show_bug.cgi?id=1777305

As of today, there is no system in place to protect against invalid inputs in CRD and other config files due to which bugs like ( https://bugzilla.redhat.com/show_bug.cgi?id=1751331) frequently arise in the application.

There is a need to introduce validation framework at the backend to safeguard against invalid inputs to improve sec

[2020-01-16 19:20] #366 closed

[2020-01-17 10:56] dmesser commented on #86
@dzjager @kshlm @mhrivnak  good discussion here. I think we reached a point where we (OLM) need to re-evaluate the way we signal readiness to update from Operator back to OLM. The readiness gates seems like a welcome evolution and may just do the job.

[2020-01-19 08:07] guymguym opened #391 "Bump deps to operator-sdk v0.15.0 and controller-runtime v0.4.0"
https://github.com/operator-framework/operator-sdk/releases/tag/v0.13.0
https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.4.0

This is to allow using features from kubernetes 1.16.
CC @travisn

[2020-01-19 11:19] mykaul commented on #391
operator-sdk has released a newer version just few days ago - https://github.com/operator-framework/operator-sdk/releases/tag/v0.14.0
Worth looking at it?

[2020-01-19 20:41] guymguym commented on #391
@mykaul Sure. I didn't see in the 0.14 changelog anything I waited for in particular, but it's best to bump whenever possible.

[2020-01-22 05:18] nizamial09 opened #394 "OCS Operator removing subscription behaving differently in CLI and Console"
From OCP Console, if you go to the Subscription Page of the OpenShift Container Storage Operator, we can remove the Subscription using the Edit Subscription option. It will give a pop up which says
[code]
Despite this message, it removes the operator from the Operator Hub and the CSV file is also getting removed.
![removesubscription](https://user-images.githubusercontent.com/53651462/72867243-4b4

[2020-01-22 05:38] #394 closed

[2020-01-22 11:50] nimrod-becker commented on #391
@jarrpa Talked to Michael, he suggested we'd start a thread with you on this one

[2020-01-22 12:28] jarrpa commented on #391
@nimrod-becker sure. Chat or email would be better. 🙂

[2020-01-22 13:37] obnoxxx commented on #391
Yeah, that's what I meant. I think this is reasonable to do now that 4.2 is out.

[2020-01-23 15:23] jarrpa commented on #391
I should be able to take this on next week!

[2020-01-31 11:19] #369 closed

[2020-02-04 08:27] guymguym opened #403 "Support override noobaa-endpoint resources in StorageCluster.spec.resources map"
NooBaa endpoint pods have a spec to override the default resources in the noobaa CR spec:
https://github.com/noobaa/noobaa-operator/blob/8fb75596137a9359e4c00cc7c6f84eb3c5e5d8a9/pkg/apis/noobaa/v1alpha1/noobaa_types.go#L153

Need to add this to the StorageCluster.spec.resources map and reconcile it to the NooBaa CR -
https://github.com/openshift/ocs-operator/blob/b3bf10e90e5cb14f5509c9c049f1eeba0e

[2020-02-10 09:22] gorantornqvist opened #407 "Set mon clock drift allowed in rook-config-override"
Getting this warning:
[code]
So I would like to increase the allowed drift a bit in rook-config-override configmap:
[code]
But the ocs-operator removes that setting:
[code]
Is there a way to set this?

[2020-02-13 12:42] obnoxxx commented on #372
@jackyalbo @nimrod-becker @guymguym - now that #381 is merged, can this be closed?

[2020-02-13 12:59] guymguym commented on #372
Yes, closing

[2020-02-13 12:59] #372 closed

[2020-02-24 07:38] umangachapagain opened #422 "verify-latest-csv not consistent between local and CI environment"
After running `make gen-latest-csv`
running `make verify-latest-csv` fails and returns a new checksum.
Committing this leads to  `make verify-latest-csv` failure in CI.

[2020-02-24 07:43] umangachapagain opened #423 "createdAt spec in CSV should be populated by Build CI"
https://github.com/openshift/ocs-operator/blob/8187a56c5278fcbc33badb96ce8dcbee2928bd72/deploy/olm-catalog/ocs-operator/4.3.0/ocs-operator.v4.3.0.clusterserviceversion.yaml#L60
should be populated by the build ci when releasing new registry images.

Doing so as a part of `make gen-latest-csv` is not very useful. It only brings more changes to each Pull Request and creates conflict between commits

[2020-02-24 07:44] umangachapagain commented on #423
@obnoxxx @jarrpa @egafford  WDYT?

[2020-02-24 07:45] umangachapagain commented on #422
@egafford @ashishranjan738 FYI

[2020-02-26 22:11] chechuironman opened #426 "ocs-operator gets stuck on crashloopbackoff"
hey guys,

I'm getting this error on the ocs-opoerator pod:

`{"level":"info","ts":1582754843.4522314,"logger":"cmd","msg":"Go Version: go1.11.13"}
{"level":"info","ts":1582754843.4522955,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1582754843.4523048,"logger":"cmd","msg":"operator-sdk Version: v0.10.0"}
{"level":"info","ts":1582754843.4527922,"logger":"leader","msg":"Tryin

[2020-02-27 07:31] obnoxxx opened #427 "Separate CSV generation out into its own repository"
The primary purpose of this git repository is to host the code for the ocs-operator. But this repo also contains the code for generating the CSV for the OCS entry in the operator hub, which is a combination of ocs-operator, rook-ceph-operator, and noobaa-operator as long as the commited generated CSV data. This combination in one repository seems artificial and wrong to me. A cleaner approach woul

[2020-02-27 07:33] obnoxxx commented on #427
@jarrpa FYI

[2020-02-27 07:36] guymguym commented on #427
@obnoxxx Can you describe one benefit from this separation?
I can think of several bad outcomes, and not good one.

[2020-03-05 11:01] xenolinux opened #435 "Define a limit number for `Disks per OSD node` in ocs bare metal"
If taken reference from RHCS the [article](https://access.redhat.com/articles/1548993) says that up to 36 OSD's (disk size up to 12TB) per node can be attached in RHCS.
In OCS bare metal, we may define a number that allows adding multiple osd disks to a certain number per osd node.

[2020-03-05 11:13] xenolinux commented on #407
@gorantornqvist for how long have you observed this warning? was it went for some minutes/hours and cleared automatically? Is your machine synched with the NTP server?

[2020-03-05 12:05] gorantornqvist commented on #407
When it occurred I observed it for a few hours, I checked NTP on the nodes the mon pods were running on and they were synced ok.
I then restarted both the mon pods manually and after a few minutes the alerts cleared.
I havent seen the alerts since then so it appears to have been a temporary issue so maybe this override isnt needed ...

[2020-03-05 12:18] xenolinux commented on #407
Cool

[2020-03-12 12:06] umangachapagain commented on #426
Use only `openshift-storage` namespace to install operator and cluster. That should fix this.

[2020-03-12 12:07] #423 closed

[2020-03-19 11:21] akgunjal opened #451 "[ROKS] Port 9091 has to be made configurable in OCS"
OCS has hard-coded to use port 9091 today which clashes with Calico in RedHat OpenShift kubernetes service (ROKS). This needs to be made configurable so the OCS installation can take ports open in ROKS.

[2020-03-19 11:24] akgunjal opened #452 "[ROKS] OSD needs to recognize and support multipath"
OSD does not work with multipath devices. RedHat OpenShift kubernetes service (ROKS) clusters will have workers with multipath present on local SSD disks and also on remote block devices which are attached. OCS needs to recognize and use multipath devices in OSDs.

Note: Mon identifies the multipath devices successfully.

[2020-03-19 11:26] akgunjal opened #453 "[ROKS] Cluster role system:node needs to add more permissions for volumeattachment"
The cluster role **system:node** needs to add more permissions for **volumeattachment**

This needs to be part of OCS deployment where RBAC is defined.

[2020-03-19 11:28] akgunjal opened #454 "[ROKS] csi-cephfsplugin and csi-rbdplugin needs to change kubelet path"
The daemon sets csi-cephfsplugin and csi-rbdplugin need to use the path `/var/data/kubelet` as the kubelet path is different in ROKS. Ideally its better to find the kubelet path dynamically if possible.

[2020-03-19 11:50] akgunjal opened #455 "[ROKS] Support for ROKS storage classes"
OCS should recognize and create remote volume using ROKS storage classes.

[2020-03-19 11:52] akgunjal opened #456 "[ROKS] Support for local disks without using local persistent volumes"
Currently we use local disks wrapped with local persistent volumes. OCS needs to support for local disks without using local persistent volumes. Ideally the OCS storage cluster needs to accept the local disk (ex: `/dev/sdc`) as input so local volumes are not needed.

[2020-03-19 17:40] jamescassell commented on #217
Here's what's needed: https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-generating-csvs.html#olm-enabling-operator-for-restricted-network_osdk-generating-csvs

[2020-03-26 16:13] travisn commented on #451
The port will be configurable in OCS 4.5 through a ConfigMap. The setting will need to be modified in the ConfgMap either by OCS or some higher level component than Rook that has the context about which port should be used. This is about ready for merge into Rook as seen in this PR: https://github.com/rook/rook/pull/5032

[2020-03-26 16:13] travisn commented on #454
The kubelet path for the CSI drivers will be configurable in OCS 4.5 through a ConfigMap. The setting will need to be modified in the ConfgMap either by OCS or some higher level component than Rook that has the context about which path should be specified. This is about ready for merge into Rook as seen in this PR: https://github.com/rook/rook/pull/5032

[2020-03-26 16:15] travisn commented on #456
Per discussion, it is recommended to use the local storage operator and create a LocalVolume CR for a device. OCS does not support directly using devices without a PV. In the near future we will also have automatic creation of local PVs as described in [this design doc](https://github.com/openshift/enhancements/blob/master/enhancements/local-storage/automatic-detection.md)

[2020-03-26 16:16] travisn commented on #453
More details on the failure and workaround are needed, thanks

[2020-03-26 17:45] travisn commented on #452
@akgunjal Can you expand more on this requirement for multipath? As long as there is a storage class that allows creation of a block-mode volume, OCS/Rook should be able to create an OSD on it.

Rook upstream doesn't support multipath since LVM has been used. As seen in this [ceph-volume](https://tracker.ceph.com/issues/23337) issue, an LV could potentially be created first. Still, you'd need to p

[2020-03-27 14:48] jarrpa commented on #427
@guymguym The biggest benefit is for actual ocs-operator engineering. Currently we face a lot of issues with rebases and backports due to CSV changes, often times just the hash file being incorrect. In addition, the CSVs generated on GitHub are not actually used for anything other than testing. Downstream generates its own CSVs and has slightly different requirements. We have no reason to actually

[2020-03-27 14:56] jarrpa commented on #455
There should be no special development needed for the StorageClasses themselves. As of OCS 4.3, you will be able to select which StorageClass to base your volumes on from the StorageCluster creation screen. If there are any issues with creating OSDs on PVs provided by ROKS StorageClasses, those deserve their own issue. Closing this one for now.

[2020-03-27 14:56] #455 closed

[2020-03-27 14:57] jarrpa commented on #456
As this is working as designed and we recommend adjusting to that design, I'll be closing this issue.

[2020-03-27 14:57] #456 closed

[2020-03-27 14:58] jarrpa commented on #426
Since a recommendation has been made and it's been more than two weeks since the last message, I'll be closing this issue. Please reopen if the problem persists.

[2020-03-27 14:58] #426 closed

[2020-03-27 17:37] umangachapagain commented on #427
How about we just move CSV generation and Checksum validation out of the general workflow? and for basic CI tests?

That way we can still have CSV within this repo and not maintain it on per PR basis. We could just update it per release or when there are api changes or run nightly job to keep it in check maybe?

If there is a real strong need for a separate repo of the mentioned nature, we could j

[2020-04-01 12:41] akgunjal commented on #453
@travisn : Pasting the error logs snippet for your reference. The attach of PVC to the pod fails with RBAC error. `volumeattachments.storage.k8s.io` has only `get` access in the clusterrole `system:node`. The workaround I followed is to add more permissions like `create,delete,update` for `volumeattachments.storage.k8s.io` to get it working.

[code]

The purpose of this issue is today `volumeattac

[2020-04-01 12:54] akgunjal commented on #452
@travisn : The issue is not with creation of block-mode volume for OSD. But once this volume is created and used by OSD, it will not succeed in deployment. The `osd-prepare-ocs-deviceset` pods fail if multipath is present on the disk `/dev/sdc` on the worker node.

Pasting the error I saw when using multipath on `/dev/sdc`. The workaround I did is to manually disable the multipath for the device u

[2020-04-01 20:49] travisn commented on #453
I still don't understand the repro. There are no reported issues of volumes failing to attach in upstream CSI or Rook that I'm aware of. Here are some questions:
1. What version of Rook, CSI, and OCS?
1. What type of PVC? What is the storage class? RBD?

@Madhu-1 Do you see what the issue could be?

[2020-04-01 20:53] travisn commented on #452
In the latest Rook/Ceph releases there is no more use of LVM when creating OSDs on PVs. Could you try upstream Rook v1.2.7 and Ceph v14.2.8 and see if there is any different behavior? But I'm not sure if `ceph-volume` will support multipath in that case either. @leseb do you know?

[2020-04-02 10:45] akgunjal commented on #452
@travisn : This is required to support multipath in IBM Cloud as we have it from our infrastructure itself and it cannot be avoided. Please revert if ceph-volume can support multipath. If not this needs to be taken as a new requirement for IBM Cloud support.

[2020-04-02 10:48] akgunjal commented on #453
@travisn : This issue is seen in OCS 4.2 latest version. So the Rook and CSI versions are associated with the OCS version I guess. This is with storage class RBD `ocs-storagecluster-ceph-rbd`

[2020-04-02 16:02] travisn commented on #452
@akgunjal Can you test with the versions suggested in my previous comment and see if you still get an error?

[2020-04-02 17:03] jarrpa commented on #453
This may be a configuration issue with your OCP installation, as no one else has reported this issue. Could you check to see if you have some automation to modify the default RBAC rules OCP ships with?

[2020-04-02 17:59] travisn commented on #453
@Madhu-1 Do we need to add `create` permission on the CSI [service accounts](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/common.yaml#L1455-L1457)? Though I don't understand why this issue has not been seen outside ibm cloud.

[2020-04-02 18:11] Madhu-1 commented on #453
@travisn we don't need create permission see RBAC in external-attacher https://github.com/kubernetes-csi/external-attacher/blob/97411fa72c72174f9b7b7a0159cb0b840f95dd34/deploy/kubernetes/rbac.yaml#L33 @akgunjal please provide the logs from the attacher container from provisioner pod for more analysis why it's failing.

[2020-04-03 17:49] bengland2 opened #471 "only 1 active Cephfs MDS daemon per cluster"
Under a heavy metadata-intensive workload, the 1 Cephfs MDS daemon supplied by OCS is not enough to keep up, particularly for all-SSD configurations.    For example, with 100 pods all doing renames (smallfile benchmark), we see [this from top -H](http://perf1.perf.lab.eng.bos.redhat.com/pub/bengland/tmp/ocp4/smfruns/smf-rename.png), showing that 1 thread is at 70% CPU consumption, meaning that it

[2020-04-10 11:26] akgunjal commented on #452
@travisn : I have tested with above suggested versions and see that multipath is not supported. Posting the osd-prepare pod error logs for reference.
[code]

This link https://docs.ceph.com/docs/master/ceph-volume/lvm/prepare/#multipath-support states multipath is not supported in Ceph.

Please check and confirm if it will be supported in future versions.

[2020-04-10 12:06] leseb commented on #452
@akgunjal test Ceph 14.2.8 (at least) with Rook-Ceph 1.3.1 and let us know (this mode won't use LVM). Looking at the doc, it seems pretty clear that supporting multipath is not in the roadmap.

[2020-04-13 12:55] akgunjal commented on #452
@leseb @travisn : I tried with rook-ceph 1.3.1 and get the multipath error. Pasting the error snippet.
[code]

[2020-04-13 18:52] travisn commented on #452
@akgunjal Rook doesn't have `mpath` as a supported disk type so that check is preventing us from testing if the OSD can actually be created.

I've put together a private build with that check removed to see if we can get it working. It's possible that `ceph-volume` will still fail with a different error. Please try replacing the rook operator image `rook/ceph:master` in `operator.yaml` with `travi

[2020-04-14 11:22] akgunjal commented on #452
@travisn : I tried with your image but the OSDs are not created. There is no error but dont see it identifies the disks. Pasting logs of operator and osd-prepare pods.

rook-ceph operator:
[code]

osd-prepare pods:
[code]

[2020-04-14 11:54] leseb commented on #452
@akgunjal `2020-04-14 10:57:33.033480 I | cephosd: skipping device "/mnt/set1-data-2-rdcsj": ["Insufficient space (<5GB)"].` is this error correct?

[2020-04-14 12:11] akgunjal commented on #452
@leseb : Thats not correct. As for mon pods I have given 20GB storage and OSDs have 3.5TB. So its actually pointing to OSD which has sufficient storage.

[2020-04-14 12:14] leseb commented on #452
@akgunjal ok, can you paste the log from `/var/log/ceph` for ceph-volume?
Thanks.

[2020-04-15 07:13] akgunjal commented on #452
@leseb : I dont see `/var/log/ceph` on any of my nodes. Is it expected to be on nodes?

[2020-04-15 07:17] leseb commented on #452
It's in the data dir host path so something like `/var/lib/rook/<namespace/log/`.

[2020-04-15 07:55] akgunjal commented on #452
Pasting logs of one node for ceph volume.
[ceph-volume.log](https://github.com/openshift/ocs-operator/files/4479795/ceph-volume.log)

[2020-04-15 08:29] leseb commented on #452
@akgunjal opened https://tracker.ceph.com/issues/45094. Waiting for a fix now.

[2020-04-15 08:42] akgunjal commented on #452
@leseb : The image I tested was a private once from @travisn to test the multipath support. So not sure if there is an issue with insufficient space. Maybe it needs to be fixed in private image.

[2020-04-15 08:49] leseb commented on #452
@akgunjal the error is coming from the c-v itself and @travisn PR is not causing the insufficient space issue.

[2020-04-16 07:51] mykaul commented on #471
I think it'd be interesting to see if we can use Kube's autoscale feature, and perform it according to custom metrics we'll expose from the MDS. For example, the number of clients.

[2020-04-20 18:45] aruniiird opened #478 "External cluster mode should have a `Ready` phase"
Currently in External StorageCluster Mode, phases are `Connecting` or `Connected`, but never in `Ready` state. External cluster should be reflected as ready state once it completes the connection with the external cluster.

[2020-04-20 20:57] jarrpa commented on #478
Please don't refer to "Independent Mode" here. We are dealing with external StorageClusters and CephClusters.

[2020-04-24 09:34] mulbc commented on #454
As far as I can see rook/rook#5032 has been merged and consists of commit https://github.com/rook/rook/commit/0e932c15eb476ad4343552aee47bad00cd005245 which has been released with v1.3.0.

As far as I see, the OCS 4.5 release tag currently still points to an older Rook version:
https://github.com/openshift/ocs-operator/blob/6a3c3a2956de31e1addc20c382ead7e73d5372ed/deploy/olm-catalog/ocs-operator/4

[2020-04-24 09:44] mulbc commented on #452
In the Ceph bug tracker, the engineer is requesting some more information - especially the output of:
`ceph-volume inventory --format json /dev/mapper/3600605b000ac584025e796091b840018`

@akgunjal are you able to provide the output of that command?

[2020-04-24 11:21] akgunjal commented on #452
@mulbc : My nodes don't have the ceph-volume command line. I tried installing it but didnt get to deploy. Is there any alternate linux command to give the details of the device?

[2020-04-24 13:28] mulbc commented on #452
You can use `oc debug rook-ceph-osd-prepare...` to start a debug pod of the failed pod... This debug pod will be an exact copy of the failing pod, but with an interactive shell for you to do debug work

[2020-04-24 13:57] akgunjal commented on #452
@mulbc : Thanks for sharing the command. Pasting the output as requested. Please post it in the ceph ticket.
[code]

[2020-04-24 14:39] mulbc commented on #452
Thanks for adding the info, I have added the info at https://tracker.ceph.com/issues/45094

[2020-04-24 18:07] jarrpa commented on #454
That's just on GitHub, and we make no guarantees that they are strictly up to date not reflective of the full downstream product. We will have it for the first downstream OCS 4.5 builds.

[2020-04-27 11:19] #422 closed

[2020-04-27 11:23] akgunjal commented on #453
@Madhu-1 @travisn @jarrpa : I did some more debugging on this issue and found that the root cause here is on our nodes, the kubelet has `enable-controller-attach-detach` set to false. Due to this the kubelet does the attach and hence I had to give the permissions to `system:node` clusterrole. I set it to `true` and then things worked fine. So I will work with our internal teams to set this to true

[2020-04-27 11:23] #453 closed

[2020-04-29 09:11] Madhu-1 opened #486 "Handle internal server error in case of storageclass creation fails"
looks like OCS operator is not handling the internal server or any other error for storage-class, pool, filesystem, creation. one example is
https://github.com/openshift/ocs-operator/blob/5c80ec5a02cbbfbdd510202cbe7b371d35cdc3f7/pkg/controller/storagecluster/initialization_reconciler.go#L36-L59

[2020-04-29 09:11] Madhu-1 commented on #486
CC @jarrpa

[2020-05-01 20:39] travisn commented on #452
The `ceph-volume inventory` command can be skipped by rook. It is not critical to the creation of the OSD. In the interest of confirming we can configure an OSD on a PV that is backed by a multipath device, I've updated the Rook prototype to both allow mpath devices and also to skip the `c-v inventory` command when the OSD is backed by a PV.
This can be tested with the rook image in operator.yaml:

[2020-05-04 11:49] akgunjal commented on #452
@travisn : I tested the new image with multipath and it worked fine. I have used the multipath device `/dev/dm-1` for osd where the multipath is present. This worked fine. But should I used the device `/dev/sdc` instead of corresponding multipath device `/dev/dm-1` or its correct to use mpath device.

[2020-05-05 22:33] travisn commented on #452
Rook isn't aware of the path since you created a local PV on that path, right? But I believe `/dev/dm-1` is correct.

[2020-05-06 07:36] leseb commented on #452
IIRC we skip `dm` devices so I'd use `/dev/sdc` if possible?

[2020-05-06 08:01] mykaul commented on #452
I'm against using user friendly names:
[code]

Use the WWID names please.

[2020-05-06 08:24] akgunjal commented on #452
@travisn @leseb @mykaul : Yes the problem with using `dm` devices is it may not be same on all nodes and also if the node which had `/dev/dm-1`  is rebooted then after reboot its not guaranteed to have dm-1 again. It may become dm-2 for example. So using `/dev/sdc` is preferred even though it has multipath on it.

[2020-05-06 22:33] #478 closed

[2020-05-07 13:41] sp98 commented on #486
@Madhu-1 All the resource creation functions (like ensureStorageClass, ensureCephCluster, etc) have a common pattern of returning the error in case of any failure in `creation` or `update` of those resources.  The error is then update as conditions for the end user [here](https://github.com/openshift/ocs-operator/blob/17d2372e76126e01e33a1a853fad9a26417c02ce/pkg/controller/storagecluster/reconcile

[2020-05-11 14:41] AaruniAggarwal opened #502 "I need to build ocs-operator for ppc64le and while doing so getting some errors"
[root@aaruni-ocs-8423-bastion ocs-operator]# make
Building the ocs-operator binary
mkdir -p build/_output/bin
env GOOS=linux GOARCH=ppc64le go build -i -ldflags="-s -w" -mod=vendor -o build/_output/bin/ocs-operator ./cmd/manager
Building the ocs-operator image
hack/build-operator.sh
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
STEP 1: FROM registry.access.redhat.c

[2020-05-11 15:11] AaruniAggarwal commented on #502
can i use openshift4-ose-operator-registry in place of ocs-registry for DEFAULT_CATALOG_IMAGE_NAME in hack/common.sh , currently my common.sh is like this ->

GO111MODULE="on"
GOPROXY="https://proxy.golang.org"
GOROOT="${GOROOT:-go env GOROOT}"

IMAGE_BUILD_CMD="${IMAGE_BUILD_CMD:-docker}"
IMAGE_RUN_CMD="${IMAGE_RUN_CMD:-docker run --rm -it}"

OUTDIR="build/_output"
OUTDIR_BIN="build/_output/bin"

[2020-05-12 12:03] #502 closed

[2020-05-14 06:23] Madhu-1 commented on #486
@sp98 I might be missing something https://github.com/openshift/ocs-operator/blob/5c80ec5a02cbbfbdd510202cbe7b371d35cdc3f7/pkg/controller/storagecluster/initialization_reconciler.go#L33 will error from above code is returned if the error is other than `NotFound`?

[2020-05-27 08:36] aruniiird opened #532 "Secret data provided by the external StorageCluster is base64 bit encoded"
The json blob provided by the `secret` data (handled in `ensureExternalStorageClusterResources` function), is base64 encoded and cannot be consumed directly as a json blob.
We have to decode it and then the resultant string is considered as `json` blob.

[2020-06-01 18:44] #403 closed

[2020-06-02 10:43] anubhav-here opened #541 "PrepareDeviceSet pods get stuck in pending state while deploying OCS on no/custom labels"
The CephCluster.Spec.StorageDeviceSets.Placements are not getting modified with the new NodeAffinity as it should be with the Custom-label.

[2020-06-02 19:45] #541 closed

[2020-06-03 08:58] cloudbehl opened #547 "Make cluster-clean not working for independent mode."
Make cluster-clean not working for independent mode.

The namespace(openshift-storage) is getting the Kubernetes finalizer because the cephcluster is having some finalizer & it gets stuck.

[2020-06-04 05:30] #454 closed

[2020-06-04 05:31] #451 closed

[2020-06-04 06:09] akgunjal commented on #454
@umangachapagain : Why is this issue closed? OCS 4.5 is not yet released I guess. So it can be closed once its released and then with insttructions of how to use it.

[2020-06-04 06:10] akgunjal commented on #451
@umangachapagain : Why is this issue closed? OCS 4.5 is not yet released I guess. So it can be closed once its released and then with insttructions of how to use it.

[2020-06-04 08:10] umangachapagain commented on #454
The fix is merged (as seen in the linked Pull Request) and we don't do Github Releases.
So this issue is closed.
For OCS 4.5 release, relevant issues are tracked in Bugzilla.

Here's what you need to create for using this feature:
[code]

[2020-06-04 08:11] umangachapagain commented on #451
The fix is merged (as seen in the linked Pull Request) and we don't do Github Releases.
So this issue is closed.
For OCS 4.5 release, relevant issues are tracked in Bugzilla.

Here's what you need to create for using this feature:
[code]

[2020-06-05 10:23] #532 closed

[2020-06-05 10:25] #391 closed

[2020-06-05 10:29] umangachapagain commented on #217
Fixed in release-4.4.
Updated documentation: https://github.com/openshift/ocs-operator/pull/542

[2020-06-05 10:29] #217 closed

[2020-06-05 10:31] umangachapagain commented on #185
We have added all the needed annotations and the rest can be ignored.

[2020-06-05 10:31] #185 closed

[2020-06-05 10:34] umangachapagain commented on #99
We update versions for each release and update CSV whenever required.
I believe that is the expectation of this issue.

[2020-06-05 10:34] #99 closed

[2020-06-05 10:39] umangachapagain commented on #75
We do mirror image to quay for each successful PR builds.

[2020-06-05 10:39] #75 closed

[2020-06-05 10:43] umangachapagain commented on #61
We have E2E tests up and running using OpenShift CI.

[2020-06-05 10:43] #61 closed

[2020-06-05 10:45] umangachapagain commented on #46
We use CatalogSource directly instead of OperatorSource. OperatorSource will be deprecated soon.

[2020-06-05 10:45] #46 closed

[2020-06-05 10:46] #157 closed

[2020-06-09 06:14] cloudbehl opened #552 "NooBaa is not working in independent mode"
The bucket class is being rejected because default backing store is not created. So the Noobaa OBC's are not created.

[2020-06-09 07:06] cloudbehl opened #553 "noobaa-db-0 pod not coming up with custom labels."
I tried the custom label thing. The CSI pods are respecting the labels but NooBaa remains in a pending state.

I am getting this error in noobaa pod.
[code]

**StorageCluster.yaml**
[code]
Configmap - **rook-ceph-operator-config.yaml**
[code]

[2020-06-09 11:54] obnoxxx commented on #553
Hmm, I think we need a section for placement of noobaa-db like the one for noobaa-core here: https://github.com/openshift/ocs-operator/blob/master/pkg/controller/defaults/placements.go#L208

I had expected all daemons without special treatment to pick up the "all" placement https://github.com/openshift/ocs-operator/blob/master/pkg/controller/defaults/placements.go#L15 , but that doesn't seem to ha

[2020-06-11 12:01] cloudbehl commented on #552
[noobaa-operator-8fd8566f8-t5shn-noobaa-operator.log](https://github.com/openshift/ocs-operator/files/4764537/noobaa-operator-8fd8566f8-t5shn-noobaa-operator.log)

[2020-06-11 14:22] rohantmp opened #562 "Refactor and add tests for platform detection."
Investigate:
- can we stop detecting the platform and detect the required features instead?
  - Eg detect availability of S3/other-object-storage API that we want to use instead of RGW.

At the very least.
- improve unit tests
- improve naming
- `Platform` is less confusing than `CloudPlatform`
- instead of checking `isValidCloudPlatform` for skipping CephObjectStore, make a method like `shouldSki

[2020-06-15 06:25] anubhav-here commented on #553
@cloudbehl I think this works fine after the latest PR for labelSelector got merged. Correct me if i am wrong, I think this was happening due to ExternalCluster.

[2020-06-15 06:44] cloudbehl commented on #553
@anubhav-here yes I think this issue is fixed. Can you put your PR link & close this one.

[2020-06-15 07:06] #553 closed

[2020-06-17 09:26] MeridianExplorer commented on #552
BZ raised -
https://bugzilla.redhat.com/show_bug.cgi?id=1847875

[2020-07-01 18:06] jeniawhite opened #598 "[Suggestion] Collect Service Accounts in must-gather"
Currently, we do not collect Service Accounts YAMLs/CRs in the must-gather.
It would be great if we could add that option.

[2020-07-02 15:30] travisn commented on #452
The layer in question here is really the local storage PV (LSO). When the local PV is created, LSO creates a symlink that is expected to preserve the device across reboots.
@akgunjal Have you seen an issue with the PV not working after restart or just a question for how it is handled?

[2020-07-03 14:30] mulbc opened #607 "ocs-operator image not versioned - using latest tag"
https://github.com/openshift/ocs-operator/blob/4b21ed16695e9e7112f0980f420bdbbb01e1d686/deploy/olm-catalog/ocs-operator/manifests/ocs-operator.clusterserviceversion.yaml#L1811

This should use the ocs-operator version number instead of latest

[2020-07-07 12:22] 16bce091 commented on #562
https://github.com/openshift/ocs-operator/pull/616/files

[2020-07-09 11:16] akgunjal commented on #452
@travisn : I have not tested the reboot of worker but I mentioned the general behavior of device paths. When the system reboots the multipath is not guaranteed to be same. Like if its was `/dev/dm-1` before reboot, it can be `/dev/dm-2` after reboot. We would have given dm-1 in local PV and it would been bound. But after reboot if on system dm-1 has changed to dm-2, does LSO takes care to sync thi

[2020-07-15 21:28] travisn commented on #452
@rohantmp Can you clarify the behavior of LSO when the node is restarted?

[2020-07-16 05:52] rohantmp commented on #452
Does the device have a stable `/dev/disk/by-id/` symlink? If yes, then that will be used.
Otherwise, the symlink will point at the `/dev/dm-1` path and not have anyway to know that the device is at /dev/dm-2.

[2020-07-29 16:05] #149 closed

[2020-07-29 16:05] jarrpa commented on #149
Outdated issue

[2020-08-11 14:14] rohantmp opened #695 "Implement event reporting"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

We should report failures as events.
We should report successful completions as events where possible
This way, each action will eventually result in either a success or failure.

**What is use case behind this feature:**

Operator logs can get lost and/or be too verbose. Events persist failures and as

[2020-08-11 14:15] rohantmp commented on #695
**concept:**
events are reported using [EventRecorder](https://godoc.org/k8s.io/client-go/tools/record#EventRecorder) which takes:

`obj` :  a reference to an object to associate the event with.
`eventType`: a string used to group events. (So tools can display something like: `5 someEventType events`)
`msg`: a string for additional context
`annotations` : optional `map[string]string` the purpose o

[2020-08-18 00:45] gitsridhar opened #708 "OCS operator install on OCP on ppc64le failed"
Prepared a OCP on ppc64le and tried to install OCS on it with this yaml:

[code]

Tried the same last week and csv got installed as 4.6.0-531.ci and everything was fine. Today, csv got intalled as 4.6.0-532.ci and the following three pods are not coming up in openshift-storage namespace:
rook-ceph-crashcollector-worker-0-556778b7c4-sxd85   0/1     Init:0/2   0          6h23m
rook-ceph-crashcollect

[2020-08-18 01:14] jarrpa commented on #708
Do not open issues against downstream builds on GitHub.

[2020-08-18 01:15] #708 closed

[2020-08-24 08:48] kubealex commented on #86
news?

[2020-09-02 13:34] #356 closed

[2020-09-04 12:03] bipuladh opened #750 "Cannot generate latest CSV"
Running `make gen-latest-csv` gives the following error in the latest master( commit 45969159f996d7e7369)
[code]

[2020-09-04 14:58] jarrpa commented on #750
Are you working off of a clean master? What does `git status` say?

[2020-09-08 20:47] afreen23 opened #756 "RFE: Display "storage cluster" resource as a required custom resource for OCS on UI"
**Proposal:**

Openshift console uses `operatorframework.io/initialization-resource` annotation to display a custom resource as required on UI. OCS can leverage this annotation to allow displaying "storage cluster" CR as a required resource.

This will make users to know what to start with after installing the OCS operator from UI, thereby providing an improved UX

**UI mocks after adding the anno

[2020-09-09 04:46] nbalacha opened #757 "Logging errors in the ocs-operator pod logs"
There are several instances of the following in the ocs-operator logs.

`{"level":"dpanic","ts":"2020-09-08T14:45:48.614Z","logger":"controller_storagecluster","msg":"odd number of arguments passed as key-value pairs for logging","ignored key":{"namespace":"openshift-storage","name":"ocs-metrics-exporter"},"stacktrace":"github.com/go-logr/zapr.handleFields\n\t/home/nibalach/go/pkg/mod/github.com/g

[2020-09-22 15:56] renan-campos opened #775 "Unnecessary step in README.md for building ocs-operator"
I was following along with the readme and found that running "dep ensure --vendor-only" does not work and isn't necessary for building the ocs-operator.
When run from the ocs-operator directory, I get the following error:

[code]

This is really minor but if it isn't necessary wouldn't it be better to omit it from the readme to avoid confusion?

[2020-09-22 16:14] #775 closed

[2020-09-22 18:18] mulbc commented on #311
Closing since I have had my fork for a while now already - it works perfectly (and is now ~1 year old code)

[2020-09-22 18:18] #311 closed

[2020-09-24 20:23] jarrpa commented on #756
Is there a Jira story about this? Since this is focused on the product experience, it should be tracked in a place where PM and Engineering management have visibility to it so we can plan for it accordingly.

[2020-09-24 20:28] jarrpa commented on #757
I believe this has been fixed.

[2020-09-24 20:28] #757 closed

[2020-09-25 09:48] afreen23 commented on #756
Yes, it is included in 4.7 planning under "UX research based enhancments [Feature]".
Surely after planning exit we will have a JIRA created.

[2020-10-02 17:15] jarrpa opened #800 "Write test cases for new StorageCluster.Spec.ManagedResources (PR #789)"
The removal of the StorageClusterInitialization in #789 added some new behavior that we should have unit tests for. In particular we need to verify "ignore" and "manage" work appropriately.

[2020-10-07 12:27] bengland2 commented on #471
great idea Yaniv, but also the number of Cephfs files is relevant.  If you only have a few hundred thousand files then you probably don't need it, but if you scale out Cephfs like we are planning to, with millions and tens of millions of files, its a matter of time before someone needs this.   There is a way, I think - the operator could edit CephFilesystem YAML to change the number of MDS servers

[2020-10-12 11:42] kesavanvt opened #817 "StorageCluster: Unbalaced distribution of OSDs by Topology spread on cluster with more than 3 AZs (zones, rack)"
On a cluster with more than 3 AZs, the OSD pod distribution is not even when on expanding the storage.

During expansion, some of the OSDs fails to schedule on the new AZs.

Steps to reproduce

1. Create a 6 node OCP cluster based on 6 AZs (east-us 1a,1b,1c,1d,1e,1f)
2. Create initial OCS cluster selecting all the nodes to get 3 OSDs
3. Expand the storage once to get total of 6 OSDs

Expected resu

[2020-10-12 12:00] kesavanvt commented on #817
The osd-prepare pods runs only for a short span and gets into completed state. The constraints in topology spread is only applicable for the running pods, it gives up in distribution if it doesn't find any running pods with the label provided.

Scenario with 3 AZs,

-  During initial OCS cluster creation, the incoming pods with osd-prepare labels gets compared with each other and schedules on 3 di

[2020-10-14 07:31] crombus opened #828 "must-gather: need improvement in collecting ceph-volume logs"
The path needs be modified and whole code should have more verbose

`# Collecting output of ceph volume commands
    for ((i = 0; i < ${#ceph_volume_commands[@]}; i++)); do
        printf "collecting command output for: %s\n"  "${ceph_volume_commands[$i]}" | tee -a  "${BASE_COLLECTION_PATH}"/gather-debug.log
        for osdPod in $(oc get pods -n "${ns}" -l app=rook-ceph-osd --no-headers | awk '{p

[2020-10-14 08:18] crombus opened #829 "must-gather: update README.md"
Add latest features and what must-gather is capable of.

[2020-10-14 13:00] crombus opened #831 "must-gather: update tests"
must-gather has functional and integration tests. That needs to be more verbose and neatly written.

[2020-10-15 07:31] crombus opened #836 "shellcheck-test: update shellcheck test for user env"
when `make shellcheck-test` is executed it installs shellcheck if not present. If present it will use that but if pre-installed is of previous version or maybe lesser then results will be different .

Solution: either put a check for version or update the shellcheck

For ref : [shellcheck](https://github.com/koalaman/shellcheck)

[2020-10-15 11:49] crombus opened #837 "must-gather: add logs ocs-olm-operator"
when the ocs operator does not install successfully we dont get any information about what could be the issue, It could intermittent issue from quay or real issue trying to install the operator, we should clearly add more debug information to properly debug such cases. (in some case the ocs operator succeeds and in other case it fails for the same build).

Adding csv resource was not that helpful.

[2020-10-15 11:54] crombus opened #838 "must-gather: add few more ceph commands"
[code]

[2020-10-15 11:58] crombus opened #839 "must-gather: add json format commands for each ceph command we collect"
we need better for collecting both formats of output for ceph.
`gather_ceph_resources` files needs to be refactored.

[2020-10-15 12:01] crombus opened #840 "must-gather: add kernel level logs"
specially these commands
[code]
search for more also which can be helpful to debug.

[2020-10-16 08:58] anuj812 opened #845 "Does s3 compatible storage through nooba supports Security Token Service"

[2020-10-16 08:58] #845 closed

[2020-10-16 09:02] anuj812 opened #846 "Does S3 compatible storage through Nooba supports Security Token Services?"
Does S3 compatible storage through Nooba supports Security Token Service ?
We tried using aws sts commands  on OCS object storage on Openshift 4.5 but didn't get any sucess. We were looking to migrate from minio to ocs but seeems to be a problem as it doesn't seems to be supporting STS .  We tried from AWS Java sdk as well as aws cli as well 'aws sts' commands. Please confirm.

[2020-10-19 22:00] jarrpa commented on #846
This is not the right place for this question. You should probably head over to the noobaa project. https://github.com/noobaa/

[2020-10-19 22:00] #846 closed

[2020-10-20 14:25] #817 closed

[2020-10-21 13:05] MeridianExplorer commented on #552
/close

[2020-10-21 13:05] #552 closed

[2020-10-23 17:02] bengland2 opened #866 "OCS 4.7 multus - rbd command fails in toolbox pod"
Is this the right place for this issue?   With multus enabled, running ocs-operator.4.7.0-139.ci , I can't seem to look at some of Ceph state with toolbox pod.   The cluster comes up fine, but some toolbox commands work and some don't.
[code]
When I look at the network, I see that it is more like host networking than multus networking, shouldn't it have the same networking setup as other OCS pods

[2020-10-27 02:57] vbnrh commented on #388
/close

[2020-10-27 02:57] #388 closed

[2020-10-27 16:28] LeslieKuo opened #869 "ocp4.5.1 UI: Fail to render storageclass select dropdown"
The storageclass select dropdown didn't render successfully when create ocs cluster on ocp4.5.1
![image](https://user-images.githubusercontent.com/18239311/97331185-0c089100-18b4-11eb-8578-a45f47dfd323.png)

![image](https://user-images.githubusercontent.com/18239311/97330993-d5327b00-18b3-11eb-80fe-f881a3023bf6.png)
Env info:
[code]

[2020-10-28 13:46] akgunjal commented on #451
BZ issue: https://bugzilla.redhat.com/show_bug.cgi?id=1823403

[2020-10-28 13:59] akgunjal commented on #452
BZ issue: https://bugzilla.redhat.com/show_bug.cgi?id=1823409
Ceph issue: https://tracker.ceph.com/issues/45094

[2020-10-28 13:59] #452 closed

[2020-10-28 14:25] jarrpa commented on #869
Hi! Unfortunately, this is not the appropriate place for this. :( You'll want to submit an issue here: https://github.com/openshift/console/

[2020-10-28 14:25] #869 closed

[2020-10-28 14:33] LeslieKuo opened #873 "ocs4.5 UI: Storageclass select dropdown didn't contain all the sc"
This issue is parallel with issue https://github.com/openshift/ocs-operator/issues/869
I think maybe there's something wrong with the ocs backend.
Env info:
[code]

Check storageclass in cli:
[code]
Actually there are three cs available in cluster.
But there is only one sc visibel in the UI dropdown list.
![image](https://user-images.githubusercontent.com/18239311/97450842-1be4ab80-196e-11eb-9ad4-

[2020-10-28 14:43] LeslieKuo commented on #869
Hi @jarrpa, thank you for your response. Move it now.

[2020-11-02 12:42] kesavanvt opened #879 "StorageCluster: Unbalaced distribution of OSDs by Topology spread on cluster with local PVs"
the OSD pod distribution is not even for cluster with multiple nodes within a failure domain for local PVs

Steps to reproduce

1. Create a 9 node OCP cluster based on 3 AZs (east-us 1a,1b,1c) . 3 nodes per AZ
2. Attach 2 disk volumes for each node and create local PVs using LSO
3. Create initial OCS cluster selecting the storageClass created on the above step
4. Expand the storage twice

Actual r

[2020-11-02 13:01] kesavanvt commented on #879
Currently, the placement for prepare pod is zone/rack based on the OCS calculation and its not distributed equally within a failure domain . The PVs created by prepare Jobs will contain further restrictions on where the PV can be mounted. For dynamic provisioning, OSD distribution is maintained as the PVs restriction is the failure domain of prepare job zone/rack. However for local PVs , the PVs r

[2020-11-04 10:24] rajatsing commented on #838
Closing this since it already has done in #565

[2020-11-10 05:22] #750 closed

[2020-11-14 14:24] #16 closed

[2020-11-17 16:37] renan-campos opened #899 "ocs 4.5 ui: redeploying external storage cluster"
When trying to create a new external Storage Cluster after having already deleted one, the deployment will fail because secret/rook-ceph-external-cluster-details was not removed.

![image](https://user-images.githubusercontent.com/6934052/99418552-25a46380-28c9-11eb-91dc-0e18bcf463c5.png)

To redeploy successfully, the secret needs to be manually deleted.

[2020-11-18 02:45] #879 closed

[2020-11-18 13:53] umangachapagain commented on #873
cc @bipuladh

[2020-11-18 13:55] rohan47 commented on #866
The CSI fix for the RBD command https://github.com/ceph/ceph-csi/pull/1450 is not merged yet so it will fail for now.

[2020-11-18 13:57] rohan47 commented on #866
Can you share the StorageCluster CR?

[2020-11-18 13:59] rohan47 commented on #866
Also, https://github.com/ceph/ceph-csi/pull/1450 is not yet merged. So CSI RBD plugin won't work.

[2020-11-18 14:13] rohan47 commented on #866
Is the toolbox pod using Multus?
Multus interfaces normally are named `net1`/`net2`

So the OSD pods are using Multus network, right?

As per this https://github.com/rook/rook/issues/6313#issuecomment-699895337 comment, it looks correct.

[2020-11-18 15:05] bipuladh commented on #873
The UI does not list any storage classes that are provisioned by Rook, unfortunately, we missed `ceph.rook.io/bucket`(this should not be shown as well).
We filter and show storage classes that can be used to create a storage class. Hence, we filter out rook-ceph storage classes. Looks like this is a bare-metal cluster as an infrastructure-based provisioner is not shown.
We will fix this behaviour

[2020-11-18 15:29] jarrpa commented on #866
You should open a BZ against OCS, using the rook component.

[2020-11-18 20:41] #81 closed

[2020-11-18 20:41] #131 closed

[2020-11-19 14:46] #192 closed

[2020-11-21 02:50] #245 closed

[2020-11-21 20:53] #199 closed

[2020-11-22 08:56] #310 closed

[2020-11-22 08:56] #329 closed

[2020-11-23 04:03] bipuladh commented on #756
/assign

[2020-11-23 08:59] #357 closed

[2020-11-23 21:01] #365 closed

[2020-11-24 03:02] #367 closed

[2020-11-24 14:05] Sispheor opened #917 "OCS 4.5 on ocp 4.6. Instanciate StorageCluster from CLI not working"
Hi,

I'm trying to deploy OCS via Ansible. The last step consist into deploying the StorageCluster  object.
This last appears but nothing get deployed. If I create the StorageCluster  from the UI it's ok.

[code]

Any idea of what I doing wrong? Thanks.

[2020-11-24 14:21] Sispheor commented on #917
I removed the "version" flag and it started.
This flag was present when I copied the yaml from the instance created via the UI.

[2020-11-24 14:21] #917 closed

[2020-11-24 21:07] #384 closed

[2020-11-24 21:07] #386 closed

[2020-11-25 03:07] #368 closed

[2020-11-30 12:55] #828 closed

[2020-12-01 03:31] #407 closed

[2020-12-01 03:31] #435 closed

[2020-12-02 10:06] ticlazau opened #928 "OpenShift Container Storage Operator support for ppc64le architecture"
Hello,

has anyone successfully install OpenShift Container Storage Operator on OCP 4.x? I see no reference to ppc64le architecture.
Looking forward.

Rgds,
FM

[2020-12-02 19:02] obnoxxx commented on #928
Hi, thanks for asking!

Red Hat is going to support power in the product soon, but we're not building and testing for power here in the upstream repo.

[2020-12-02 21:24] ticlazau commented on #928
Thank you @obnoxxx this is good news. Do you have any outlook on how "soon" will be - 6m or 1y?
I will be interested on a beta or early adopter program if available.

Rgds,
FM

[2020-12-02 21:29] jarrpa commented on #928
Any official support statements and roadmaps for the product will be delivered via the official company channels. Keep an eye on Red Hat blogs and announcements for the latest details. Since I see you've contributed to IBM projects, you may have better luck asking some of their teams.

[2020-12-03 21:43] #427 closed

[2020-12-04 04:51] bipuladh commented on #756
https://github.com/openshift/ocs-operator/pull/907
Fixes this issue

[2020-12-07 09:04] ticlazau commented on #928
Thank you

[2020-12-07 09:55] #471 closed

[2020-12-08 19:00] #928 closed

[2020-12-09 10:03] #756 closed

[2020-12-09 10:07] Sispheor opened #951 "Question: StorageCluster deployment with only VMDK local volume (VMware)"
Hi,

I'm trying to deploy a StorageCluster based on VMDK local storage.
I don't find any doc or example about this kind of config.

Can I declare only a `monPVCTemplate` object without `storageDeviceSets`? Is 50GB per VMDK enough for testing?

Here is my Ansible code to deploy my stack:
[code]

Many thanks.

[2020-12-09 12:47] oritwas opened #952 "Make CephObjectStore (RGW) number of instances configurable"
Currently we set the number of the gateway instances by default to 2.
The only option for the user to change it by updating Rook CRD and disable reconciling to the CephObjectStore so we don't override it.
After it is configurable we can make the default 1.

[2020-12-09 14:10] Sispheor commented on #951
Once the LocalStorage created. Pods are ok
[code]

New PV created
[code]

But from the interface (I haven't executed the StorageCluster creation yet) if I try to create a StorageCluster from the UI. Nodes are not showing up  (note that the label `cluster.ocs.openshift.io/openshift-storage=""` is well applied)
![image](https://user-images.githubusercontent.com/2573405/101640273-9a823d80-3a30-11eb-8

[2020-12-09 15:09] Sispheor commented on #951
When creating manually, after a while a PVC for noobaa is created but stuck in pending state.

[code]

I missed something?

[2020-12-09 22:05] Sispheor commented on #951
After a new deployment I get this error instead
[code]

[2020-12-11 04:09] #486 closed

[2020-12-11 09:19] it2911 opened #957 "Do you support the openPower architecture"
I want to use the Openshfit Container Storage platform. I found the ocs-operator can easily deploy a storage cluster for me. Do you support the openPower architecture?

[2020-12-14 09:07] rohantmp commented on #695
/remove-lifecycle rotten

[2020-12-14 16:34] jarrpa commented on #951
Hello! Apologies for the delay.

I'm not a developer on the OCP console, so I can't reliably say why the nodes aren't showing up in the UI. I believe we are well supported on VMware, so the platform shouldn't be an issue... I might raise an issue with https://github.com/openshift/console/ and see if anyone responds there.

For the RBC errors, can you check to see if there is a CephBlockPool CR cre

[2020-12-14 17:31] mykaul commented on #957
'support' is a big statement. The OCS-operator can certainly be compiled and run on Power.

[2020-12-15 15:33] Sispheor commented on #951
Hi, it's ok for the UI. I don't use it anyway.

About the storage. My local volume are ok. When I create them with this config:
[code]

From my understanding "Filesystem" volumeMopde is for VMDK and  "Block" for passthrough. I hanv't found a doc that explain each yaml flags exactly.

After that I need to create the StorageCluster. But the storageDeviceSets expect a volumeMode "Block". So I cannot

[2020-12-15 15:33] Sispheor commented on #951
Would it be possible to have a yaml example that use only VMDK disk?

[2020-12-15 16:12] jarrpa commented on #957
We have no upstream testing on Power at this time. Official support statements will come through official Red Hat channels, in the form of release notes and official Red Hat blogs.

[2020-12-15 16:12] #957 closed

[2020-12-15 16:26] #547 closed

[2020-12-15 16:29] jarrpa commented on #951
Correct, you need to provide "Block" mode PVs. Regardless of underlying implementation, "Filesystem" will always format a filesystem on the storage before providing it to the Pod, which OSDs do not want.

I don't have any experience with deploying on VMware, so I can't provide an example at this time.

[2020-12-15 16:31] Sispheor commented on #951
Yep,
I was going to answer here. I just tried with block and it works perfectly. I thought that VMDK could handle only Filesystem mode.

Thanks for your time !

[2020-12-15 16:31] #951 closed

[2020-12-15 22:06] mmgaggle opened #960 "Remove platform constraint from CephObjectStore"
In the spirit of embracing alternative outcomes for the OCS experience, we discussed providing a means to disable or ignore the platform detection logic that currently prevents CephObjectStore deployments in the public cloud. The reconcileStrategy functionality that was introduced to lend more control over which OCS components are deployed, seems like a natural way to do this, even if we decide we

[2020-12-16 16:39] RasmusEdgarDSG opened #963 "Creating Cluster Storage Instance fails"
I am currently in the process of comparing different storage solutions  in a PoC GCP setup.

Deploying a storage cluster instance through UI in OCS operator and following this guide:

https://access.redhat.com/documentation/en-us/red_hat_openshift_container_storage/4.5/html/deploying_and_managing_openshift_container_storage_using_google_cloud/deploying-openshift-container-storage-on-google-cloud_g

[2020-12-23 16:53] #598 closed

[2020-12-24 04:55] #607 closed

[2020-12-26 17:05] #562 closed

[2021-01-11 13:48] obnoxxx commented on #952
Fixed by #956

[2021-01-11 13:48] #952 closed

[2021-01-13 17:42] jarrpa commented on #960
Sorry I'm just getting around to this, but please open a Jira issue instead. GitHub issues are not very well tracked.

[2021-01-14 16:53] jarrpa commented on #963
Sorry for the delay, this slipped through my radar.

That error is an expected one, SOP for some operators (including ours). You can ignore it for now. Later releases will clean up the logs to make that error spam less often.

[2021-01-14 16:53] #963 closed

[2021-01-21 12:42] #86 closed

[2021-01-26 18:09] holgerstolzenberg opened #1012 "Provide version compatibility matrix"
We recently had to reinstall the OCS operator to our OKD 4.6 cluster after a full uninstall of the operator.
The version that was removed and working with the cluster was OCS 4.6.0

Reinstalling the operator via Operator Hub UI points to latest so OCS 4.8.0 was installed but could never fully complete.

Should the cluster version correlate to the OCS version and the operator be installed via OLM?

[2021-01-26 18:46] jarrpa commented on #1012
This repo is not the right place for hosting that information. Official product compatibility information is hosted in official Red Hat websites and documentation. If you can't find that information you should submit the question via official Red Hat channels.

[2021-01-26 18:46] #1012 closed

[2021-03-01 19:36] #800 closed

[2021-03-14 04:46] #831 closed

[2021-03-14 22:50] #836 closed

[2021-03-14 22:50] #839 closed

[2021-03-14 22:50] #840 closed

[2021-03-15 10:56] ddbindra commented on #829
/reopen

[2021-03-15 10:57] bindrad commented on #829
/reopen

[2021-03-22 16:02] mulbc opened #1124 "Update client-go"
https://github.com/openshift/ocs-operator/blob/4803a10dce0199efe39f92720d01c807ab2e5cff/go.mod#L31

The referenced client-go version is very out of date. Please update it

[2021-03-22 23:48] jarrpa commented on #1124
You're better off filing a BZ, we don't track GitHub issues.

[2021-03-31 09:41] crombus commented on #837
/close      out of scope for ocs-must-gather

[2021-03-31 09:41] #837 closed

[2021-04-03 18:10] #838 closed

[2021-04-14 00:00] mmgaggle commented on #960
/remove-lifecycle stale

On Tue, Apr 13, 2021 at 11:58 OpenShift Bot ***@***.***>
wrote:

[2021-04-14 12:43] #829 closed

[2021-04-17 00:44] #899 closed

[2021-04-18 00:45] #873 closed

[2021-04-18 00:45] #866 closed

[2021-05-03 23:01] bengland2 opened #1177 "starting toolbox pod from ansible playbook"
I tried to [start ceph toolbox pod from an ansible playbook as shown in this pastebin, and I get 403 priv violation](https://pastebin.com/VRTWVUh7).   So what privs do I need to be able to do this?   I can do it from shell with oc, why is this different?  is it because from shell I'm logged in as admin, as shown in $KUBECONFIG, whereas from my benchmarking software, the playbook is not logged in a

[2021-05-03 23:10] jarrpa commented on #1177
GitHub is not a good place for such inquiries. You should either go into chat rooms or mailing lists.

[2021-05-04 13:37] bengland2 commented on #1177
fair enough, will close this out.

[2021-05-04 13:37] #1177 closed

[2021-05-13 19:06] #695 closed

[2021-05-17 07:22] siwyroot opened #1180 "Missing toleration for master nodes in install documentation"
Hello,

Compliance Operator cannot run on OpenShift Container Storage as it's missing toleration for master nodes. I think  install docs need to be updated to include that or operator should include this by default.At this moment attaching PVC to master node fails with following error:

MountVolume.MountDevice failed for volume "pvc-04cce714-b99e-439f-b593-de260050e5b9" : kubernetes.io/csi: attach

[2021-05-17 07:22] siwyroot opened #1181 "Missing toleration for master nodes in install documentation"
Hello,

Compliance Operator cannot run on OpenShift Container Storage as it's missing toleration for master nodes. I think  install docs need to be updated to include that or operator should include this by default.At this moment attaching PVC to master node fails with following error:

MountVolume.MountDevice failed for volume "pvc-04cce714-b99e-439f-b593-de260050e5b9" : kubernetes.io/csi: attach

[2021-05-17 13:15] jarrpa commented on #1181
Closing this as a duplicate of #1180

[2021-05-17 13:15] #1181 closed

[2021-05-17 13:18] jarrpa commented on #1180
Tolerations can be added using the `Spec.Placements` field, which is a Rook struct and can be looked up there. This is not yet a supported feature, so there is no official documentation nor any examples.

[2021-05-19 14:31] vemonet opened #1182 "Adding capacity to an existing Storage Cluster fails silently on OKD4.6 😭"
Hi we are trying to add new nodes to an OpenShift Container Storage operator already installed on our OKD 4.6 cluster

We managed to install OCS on 6 nodes 6 months ago through the Catalog web UI of our OKD cluster (which was 4.5 at the time)

We are now following the same procedure as we did before (docs for OpenShift 4.5) : https://access.redhat.com/documentation/en-us/red_hat_openshift_containe

[2021-05-20 14:58] james-cccc commented on #1180
Would the following example of adding a master toleration in the rook-ceph-operator-config configmap be supported?  e.g.

[code]
**Ref:**
https://access.redhat.com/documentation/en-us/red_hat_openshift_container_storage/4.6/html-single/managing_and_allocating_storage_resources/index#managing-container-storage-interface-component-placements_rhocs

[2021-05-20 17:40] jarrpa commented on #1180
From an upstream standpoint this is supported in Rook. Downstream we have no official support for this yet, we mostly enable it for internal testing and prototypes. Raising a BZ at bugzilla.redhat.com against OpenShift Container Storage, ocs-operator component, with the `[RFE]` tag in the subject would get it on our downstream radar.

[2021-05-21 10:23] james-cccc commented on #1180
Many thanks, have done just that https://bugzilla.redhat.com/show_bug.cgi?id=1963040

[2021-05-21 13:41] siwyroot commented on #1180
Thanks James for helping out with this problem.

[2021-05-21 15:25] jarrpa commented on #1180
Sounds like the issue is resolved! If something else come sup, feel free to follow up here.

[2021-05-21 15:25] #1180 closed

[2021-05-24 20:59] naveedahd opened #1187 "must-gather pod fails to fetch jq in a disconnected/restricted network cluster"
While working for a client in a disconnected OCP 4.6 with OCS 4.6 cluster, the helper pod fails to fetch `jq` from the internet because it has no external connection. It precisely fails on the following:

https://github.com/openshift/ocs-operator/blob/38b9d53f6f0e2441883f9551b7fdbd2c361d7da6/must-gather/collection-scripts/gather_ceph_resources#L104

The error looks like this:

[code]

What can we

[2021-05-24 21:50] jarrpa commented on #1187
Hmm, that's a tricky one... we could try and just bake it into the must-gather container image? @crombus @rajatsing thoughts?

[2021-05-25 06:50] crombus commented on #1187
I don’t remember the exact issue what I was having trouble getting the jq in must-gather container image. That is why we did this way.

Seeing this issue I asked @Madhu-1 for a cmd using without jq
```ceph fs subvolume ls myfs --group_name=csi| awk '/name/ { gsub(/[",]/,"",$2); print $2}'```

We can try this.

[2021-05-25 06:55] Madhu-1 commented on #1187
`jq` is one of the best options to parse the json outputs. As @jarrpa suggested we should have `jq` pre-installed in must-gather container image , If we need alternatives We can check with @nixpanic @agarwal-mudit for better commands

[2021-05-25 07:33] nixpanic commented on #1187
We definitely should not download anything from GitHub (or other non stable internet locations) during runtime.

I am not sure what the source for the `"${HOSTNAME}"-helper` container is, but it should be possible to install `jq` from a verifiable source (standard OS repository with `dnf`). It seems Ceph tools are included, so including other packages should not be too difficult?

[2021-05-25 08:55] rajatsing commented on #1187
@nixpanic `"${HOSTNAME}"-helper` is the name of the must-gather helper pod, we save the prefix in the `$HOSTNAME`  variable.

[2021-05-25 09:14] nixpanic commented on #1187
Yes, I understand that. But I would like to know what container image is used by this helper pod. We should be able to add `dnf -y install jq` in the `Containerfile` for the image that already contains the installing of Ceph tools. @rajatsing, can you point me to the source of the image?

[2021-05-25 09:20] rajatsing commented on #1187
From what I understand, this is the command that we use to run must gather `oc adm must-gather --image=quay.io/ocs-dev/ocs-must-gather`, notice the image name is `quay.io/ocs-dev/ocs-must-gather` and this the  [YAML](https://github.com/openshift/ocs-operator/blob/master/must-gather/templates/pod.template.latest)  that creates this image above

[2021-05-25 09:21] rajatsing commented on #1187
Otherwise, this [YAML](https://github.com/openshift/ocs-operator/blob/master/must-gather/templates/pod.template.standard) is being used if the OCS version is < 4.6

[2021-05-25 09:46] nixpanic commented on #1187
@rajatsing sorry, those links do not point to the source of the `quay.io/ocs-dev/ocs-must-gather` container image, but to a spec that deploys/starts a Pod with that image. Can you point to scripts that build the container image?

[2021-05-25 10:00] rajatsing commented on #1187
@nixpanic I will give you a complete rundown below.

- we run `make ocs-must-gather` command to start the script that will build the container image, [this is where it begins](https://github.com/openshift/ocs-operator/blob/master/Makefile#L74-L76)

- The script that makes the container image is [this ](https://github.com/openshift/ocs-operator/blob/fb10214988229a83dce75b452f2135cc8e78a088/hack/bui

[2021-05-25 11:21] nixpanic commented on #1187
@rajatsing I'm still a bit confused. The `Dockerfile` seems to use `quay.io/openshift/origin-cli:latest` as a base image. But, the collection scripts call the `ceph` command, which is not part of that image. Where does the Ceph command get installed?

[code]

And the Ceph tools are clearly not available in the ocs-must-gather image either:

[code]

How can the [ceph resource gather](https://github

[2021-05-25 11:24] rajatsing commented on #1187
@crombus can you please clarify this?. Seems like I am missing something but couldn't recall.

[2021-05-25 11:46] crombus commented on #1187
Hey @nixpanic ,

https://github.com/openshift/ocs-operator/blob/master/must-gather/Dockerfile.
This must-gather image container.
Helper-pod is ceph-toolbox managed by must-gather. Different pod running in openshift-storage ns.

must-gather scripts run in ceph-toolbox (helper-pod)

As you pointed out it uses ```quay.io/openshift/origin-cli:latest```

this is the reason we install jq through wget.

[2021-05-25 11:46] crombus commented on #1187
I guess we can do multistage builds to solve the issue.

@jarrpa @rajatsing

[2021-05-25 13:19] nixpanic commented on #1187
Thanks @crombus! In that case, we might be able to get `jq` added to the ceph-toolbox container image (rook/rook#7989).

[2021-05-31 14:19] rohantmp commented on #1182
The issue is that OSDs get created, but not on the new nodes? Have you labeled the new nodes?

Also, the UI for OKD 4.6 might not necessarily be compatible with OCS 4.8 which is unreleased. We don't recommend using our dev channels in production. 4.8 is not yet stable.

If you want to build and deploy OCS 4.6, you can follow the build instructions in the readme and build the release-4.6 branch.

[2021-05-31 14:22] rohantmp commented on #1124
client-gov12 is the latest release, you're probably thinking of k8s api libs which are at v20: https://github.com/openshift/ocs-operator/blob/4803a10dce0199efe39f92720d01c807ab2e5cff/go.mod#L28

[2021-05-31 14:22] #1124 closed

[2021-06-01 09:33] vemonet commented on #1182
Thanks a lot for this feedback @rohantmp

We had a call with @jarrpa about this issue

As you said it is due to the fact that we installed OCS about a year ago when it was not really released (so we installed it with what was the dev channel at the time)

And we have now 2 catalog source for the OCS operator (the current "official" one from RedHat, and the dev one we installed a year ago)

Our opt

[2021-06-01 09:33] #1182 closed

[2021-06-25 10:58] crombus opened #1242 "Must-gather: ceph complete data not being collected"
Here is the error:
[code]

[2021-06-28 11:46] #1187 closed

[2021-06-29 06:53] crombus opened #1247 "must-gather: logs of bg process in pre-install script"
Issue: https://github.com/openshift/ocs-operator/blob/bc98813e11fec03a1ffb5d5fbe0eb31051a3fe3b/must-gather/collection-scripts/pre-install.sh#L84-L86

It is empty array of pids in state of failed installation.

Fix: https://github.com/openshift/ocs-operator/blob/bc98813e11fec03a1ffb5d5fbe0eb31051a3fe3b/must-gather/collection-scripts/gather_ceph_resources#L226-L230

[2021-07-01 15:07] johnlongo opened #1251 "When using the External Storage Option, Storage Classes don't get created"
When using the External Storage Option, Storage Classes don't get created. causes the install to hang.
![image](https://user-images.githubusercontent.com/23619505/124147116-674edc80-da5c-11eb-915a-1b93bb48fe9a.png)

[2021-08-25 06:42] dongwangdw opened #1313 "job failed after installation."
We installed the ocs in our OCP 4.6.29.
But one jobs stays failed for long. I have the logs as below:

[code]

[2021-09-06 11:53] nehasharma5 opened #1331 "No pods shown in openshift-storage ns via latest image"
1. Install noobaa via ocs
2. wget https://raw.githubusercontent.com/openshift/ocs-operator/master/deploy/deploy-with-olm.yaml
3. Apply this OLM
 oc apply -f deploy-with-olm.yaml

Observed: No pods shown in openshift-storage ns

Workaround:
When change image to quay.io/ocs-dev/ocs-registry:4.8.0 , it start working
[root@api.new.cp.fyre.ibm.com ~]# oc get pod
NAME

[2021-09-06 11:55] nehasharma5 commented on #1331
For @bssrikanth ocs-operator goes in crash Loop state
[root@hpoocpci-inf ~]# oc get pod
NAME                                   READY   STATUS             RESTARTS   AGE
noobaa-core-0                          1/1     Running            0          7m19s
noobaa-operator-5596cc869f-jj5hj       1/1     Running            0          15m
ocs-metrics-exporter-6b5dcbc8c-jwzxx   1/1     Running            0

[2021-09-07 13:37] rkomandu commented on #1331
oc get pod ocs-operator-59579b7bd5-84cfw -n openshift-storage
NAME                            READY   STATUS             RESTARTS   AGE
ocs-operator-59579b7bd5-84cfw   0/1     CrashLoopBackOff   29         131m

oc describe pod
Events:
  Type     Reason          Age                     From               Message
  ----     ------          ----                    ----               -------
  Normal

[2021-09-09 10:51] bssrikanth commented on #1331
Can anyone have a look into this? this is kind of blocking for us move forward with our development items.

[2021-09-11 14:37] jarrpa commented on #1331
GitHub issues are not a good format for getting help. Please open a BZ against OpenShift Container Storage, using the ocs-operator component.

[2021-10-09 05:30] teruz opened #1363 "Can not select External Mode"
Hi. I hope to use Storage Cluster as External mode but I can not select it since it is grayed out.

![image](https://user-images.githubusercontent.com/31103008/136645234-bfe16a01-c27e-4a24-baec-05e36b9d52ce.png)

Could you please suggest how to enable External button?

### My environment

OCP Cluster: 4.6
OCS Operator: 4.6.7
getsebool:  container_use_cephfs --> on

[code]

[2021-10-11 08:46] nimrod-becker commented on #1331
@jarrpa This applied when using deploy_with_olm which is mainly u/s ...

[2021-10-14 08:45] nekop opened #1371 "must-gather missing some info due to old oc command version"
The ocs must-gather doesn't get PodDisruptionBudget due to old oc command version.

[code]

It'd be nice if we update the oc command so we can get standard information set from the oc adm inspect.

[2021-10-27 13:30] rcampos2029 opened #1394 "Question: Why is hostNetwork configuration listed twice in StorageCluster CRD?"
The hostNetwork field is specified in two places on the StorageCluster CRD:
[code]

From testing we've found that the field directly within `spec:` achieves the desired result, while the field nested within the `network:` field does not.

What is the purpose of the second `hostNetwork` field?

https://github.com/red-hat-storage/ocs-operator/blob/ac63e784864348f5ba4b6f42f51cf42997c197c3/config/crd/

[2021-11-24 19:29] kaovilai opened #1407 "Upgrade to kubebuilder/v3 layout"
Maybe good to prep for potential deprecation
https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.3.0/

[2021-12-12 23:53] jarrpa opened #1426 "Update of OLM dependency blocked"
We should really really update our dependency on OLM from v0.17.0 to v0.19.1 due to this issue: https://github.com/operator-framework/operator-lifecycle-manager/pull/2331

The following `go.mod` change seems like it should be sufficient
[code]

However, this seems to cause a dependency conflict:
[code]

This issue is currently avoided because we explicitly use a GOPROXY by default in our Makefile

[2021-12-13 15:15] jarrpa opened #1428 "Some kinda Design Document"
https://hackmd.io/f-bsLdhPT9iHfGU8BbEDCw

[2021-12-15 13:09] kesavanvt opened #1436 "storageProviderKind field takes default value even with internal mode StorageCluster installation"
When StorageCluster is installed in internal mode, storageProviderKind takes default value as rhcs

[code]

Expected behavior:
it should not be assigned with "rhcs" when StorageCluster is installed in internal mode

[2021-12-15 13:12] kesavanvt opened #1437 "StorageCluster goes into error phase when allowRemoteStorageConsumers field is set"
When allowRemoteStorageConsumers field of storageCluster is set on the provider cluster , the StorageCluster state moves to phase "error" due to the below failure

[code]

[2021-12-15 14:25] #1436 closed

[2021-12-17 05:38] #1437 closed

[2022-02-11 11:51] kesavanvt opened #1514 "Provider/Consumer: Provider API server crashloopbackoff"
The Provider API goes into crashloopbackoff state due to the below issue

`
failed to start provider server. failed to create new OCSConumer instance. failed to list storage consumers. storageconsumers.ocs.openshift.io is forbidden: User "system:serviceaccount:openshift-storage:ocs-provider-server" cannot list resource "storageconsumers" in API group "ocs.openshift.io" at the cluster scope
`

Its

[2022-02-11 11:54] kesavanvt opened #1515 "Provider/Consumer: Remove grpc.WithInsecure() param while making client connection with API server"
Remove grpc.WithInsecure() param while making client connection with API server and include necessary TLS details.

[2022-02-14 11:54] #1514 closed

[2022-02-15 13:24] kesavanvt opened #1521 "provider/consumer : storageconsumer controller reconcile error"
storageconsumer reconciliation fails due to the below reasons

1. cephResourcesByName is not initialized
`panic: assignment to entry in nil map`
2. cephFilesystemSubVolumeGroup resource is named with camel casing (Should consist of only lower case)

[2022-02-16 17:49] #1521 closed

[2022-03-09 04:29] yati1998 opened #1581 "must-gather: volumesnapshot details not being collected."
The volumesnapshot and volumesnapshotcontent is not being collected.
The following details are only collected during must-gather
http://magna002.ceph.redhat.com/ocsci-jenkins/openshift-clusters/ypersky-lso9/ypersky-lso9_20220228T124019/logs/testcases_1646258487/ocs_must_gather/quay-io-rhceph-dev-ocs-must-gather-sha256-75ec66c7e04693deedb365bc2f6de65776b879a4f2cbffa44fa3954ae411204c/namespaces/open

[2022-03-10 04:18] #1581 closed

[2022-03-10 05:53] umangachapagain commented on #1371
@yati1998 PTAL

[2022-03-10 07:58] agarwal-mudit commented on #1371
Upgrading oc command is not a odf must-gather issue, user has to update the command on their end.
Not sure if I am missing anything here.

[2022-03-10 08:36] yati1998 commented on #1371
yes, even I looked at the code, we don't have anything to be done from our end. The must-gather runs all the commands on the user cluster and stores the output in the dir. Hence, the oc version has to be updated from the user's end.

[2022-03-10 08:41] nekop commented on #1371
The oc command for the must-gather exists inside the must-gather image and it runs inside the image. My oc command is always latest. We need update the oc binary inside the ocs must-gather image.

[2022-03-10 09:35] yati1998 commented on #1371
In that case I will investigate and reply back.

[2022-03-16 08:57] #1426 closed

[2022-03-22 10:33] yati1998 opened #1596 "must-gather: remove the hardcode subvolumegroup"
This issue is to collect subvolume and snapshot for all subvolumegroups.
Currently, the svg is set to csi but for managed resources new svg has been introduced.

Refer https://github.com/red-hat-storage/ocs-operator/pull/1577#pullrequestreview-905359950 for more details

[2022-03-23 05:01] yati1998 commented on #1371
On running must-gather command in my local,
[code]
It says the clusterVersion used is 4.9.23 which is same as mine:

[code]
Not sure if I am missing anything. @agarwal-mudit

[2022-03-23 06:20] umangachapagain commented on #1371
@yati1998 We use https://github.com/red-hat-storage/ocs-operator/blob/dcc00921abb43f109204c32b8d7d975b0146c610/must-gather/Dockerfile#L1 as the base image to build ocs must-gather.

It uses `oc` client version v4.2.0 which is outdated as seen below.
[code]
ServerVersion or ClusterVersion is the version of your OCP/K8s cluster.

To fix this, we need to update our base image to use latest `oc` clien

[2022-03-23 06:38] yati1998 commented on #1371
yeah got that, but still have a doubt,
What is this `ClusterVersion: Stable at "4.9.23"` which gets displayed when we run the must-gather.
The cluster version is the ocp version??

[2022-03-23 06:41] yati1998 commented on #1371
okay got that, will change that. Thanks @umangachapagain

[2022-03-30 04:50] yati1998 commented on #1371
@umangachapagain I tried checking other tags for ` quay.io/openshift/origin-cli:latest ` but the oc client is still the same.
[code]
Which oc version do we need to use to get the latest build?

[2022-04-07 06:11] yati1998 opened #1620 "must-gather: collect output for volumesnapshot with all namespace"
The volumesnapshot, volumesnapshotcontent and volumesnapshotclass are all collected for openshift-storage namespace.
The volumesnpashot should be collected for all namespace and volumesnapshotcontent and volumesnapshotclass being clusterscoped resources, don't need to collect in namespaced resource.

[2022-05-09 05:17] #1620 closed

[2022-06-20 05:45] Harshit-9398 opened #1722 "'Semaphore Timeout' in noobaa-endpoint pod while trying to upload files in S3 buckets"

[2022-07-12 07:35] #1596 closed

[2022-07-29 18:23] maratsal opened #1759 "Bug: Fix Tolerations setting for NooBaa in standalone mode"
Currently if you deploy NooBaa in standalone mode with ODF it is not possible to set tolerations by method described on this page - https://access.redhat.com/articles/6408481

The issue because of this commit - https://github.com/red-hat-storage/ocs-operator/commit/78d3d57b32b567176042996ec5c2f14fcd7d6d81 - which wanted to disable Affinity for standalone setup, but also removes tolerations. Please

[2022-10-27 18:13] EugeneMospan opened #1870 "Ocs-operator and Nooba operator (mcg) do not update from 4.10.7 to 4.11.2"
Hi Team,

We faced an issue, that OCS operator stopped to propagate updates from OLM when we update OKD cluster from Version 4.10 to 4.11.
At the moment, Nooba-operator subscription looks like this
![image](https://user-images.githubusercontent.com/11649314/198366579-89721c79-9f2e-4449-b96f-bba526e53071.png)

Could you please advice what is wrong, and why a new InstallPlan is not being created?

T